[2017-08-18 06:42] laxersaz opened #3 "Support scenarios with background"

[2017-08-18 12:41] #3 closed

[2017-08-23 13:25] vikramvi opened #5 "Need sample project to showcase comparison between cucumber-jvm-parallel-plugin vs this plugin"
Hi Benjamin,

It will be useful if you can please share very simple project which showcase comparison between cucumber-jvm-parallel-plugin vs this plugin

The sample project can have couple of feature files which just opens browser and goto google/facebook/yahoo.com

I had posted query http://tech.trivago.com/2017/06/30/cucable-maven-plugin-for-parallel-execution-of-cucumber-scenarios/#comment-347

[2017-08-24 10:39] laxersaz commented on #5
I don't think a sample project is really necessary because both projects have a pretty clear documentation in my opinion.

The main difference is that the cucumber-jvm-parallel-plugin generates runners for each feature file and Cucable generates runners for each individual scenario within a feature file.
So as an example, if you have 2 feature files with 5 scenarios each, cucumber-jvm-parallel-plu

[2017-08-25 09:35] 1dson opened #6 "Data tables not being supported"
Could you please add support for data tables. Currently the plugin deals with example tables but if a scenario has got a data table the plugin copies the scenario but omits the table.

[2017-08-25 11:11] laxersaz commented on #6
Will do, thanks for reporting!

[2017-08-28 09:58] laxersaz commented on #5
@vikramvi What do you think? If you need a sample project I can of course do it.

[2017-08-28 10:12] vikramvi commented on #5
@laxersaz  It will be nice to have sample project IMHO as first time user may get confused.

Thanks in advance.

[2017-08-29 11:15] laxersaz commented on #6
In my current branch I implemented data table capabilities. This will probably be released next week.

[2017-08-29 11:21] 1dson commented on #6
Thanks for the update and quick turnaround :-)

On 29 Aug 2017 12:15 p.m., "Benjamin Bischoff" <notifications@github.com>
wrote:

[2017-08-29 13:52] laxersaz opened #7 "Non-parseable scenarios should be clearly logged"

[2017-08-31 06:59] vikramvi commented on #5
@laxersaz gentle reminder

[2017-08-31 12:40] laxersaz commented on #5
Seriously? Sending me a friendly reminder for something that you requested 3 days ago and that is a free open source project that I maintain in my free time is not appropriate. I will get to that eventually when the more urgent feature tickets are closed.

[2017-08-31 18:15] laxersaz commented on #6
Release 0.0.6 supports data tables. It should be available on Maven Central in the next 2 hours.

[2017-08-31 18:15] #6 closed

[2017-08-31 18:29] 1dson commented on #6
Thanks

On 31 Aug 2017 7:15 p.m., "Benjamin Bischoff" <notifications@github.com>
wrote:

[2017-09-01 11:45] jedi-tester opened #10 "getting PicoCompositionException with multiple @Before/@After methods"
## Summary

When using Before / After annotated methods in two or more stepdef classes getting
[code]

I experienced it with cucumber-parallel-jvm-plugin as well and opened an issue with cucumber-jvm, altough also posting it here as I really need a solution and might be it is coming from parallelization that both plugins are doing.

## Expected Behavior

I have several sptepdef classes for each of

[2017-09-01 12:42] jedi-tester commented on #10
Sorry, completely unrelated to your plugin.

[2017-09-01 12:42] #10 closed

[2017-09-01 13:01] #5 closed

[2017-09-01 13:25] laxersaz commented on #10
...but still interesting 👍

[2017-09-01 13:26] laxersaz commented on #5
@vikramvi why did you close this?

[2017-09-05 08:14] gvaghjiani opened #12 "Google Guice @Inject issue in 0.0.6"
With the latest 0.0.6 version a simple 'mvn clean verify' fails with the following error:

  at com.trivago.rta.CucablePlugin.class(Unknown Source)
  while locating com.trivago.rta.CucablePlugin
  at ClassRealm[plugin>com.trivago.rta:cucable-plugin:0.0.6, parent: sun.misc.Launcher$AppClassLoader@55f96302]
  while locating org.apache.maven.plugin.Mojo annotated with @com.google.inject.name.Named(va

[2017-09-05 09:47] laxersaz commented on #12
I will investigate this. Thanks for reporting!

[2017-09-05 11:34] laxersaz commented on #12
@gvaghjiani I just created a simple test project and everything works as expected:
https://github.com/laxersaz/cucable-test-project/

Can you try this one as well?

[2017-09-05 13:04] laxersaz commented on #12
It might be an issue with your old Maven version (it is almost 6 years old). I am using 3.3.9 here.

[2017-09-05 14:43] gvaghjiani commented on #12
Thank you - I upgraded maven and it's working

[2017-09-05 14:43] #12 closed

[2017-09-07 13:52] jedi-tester opened #13 "Feature Request: Implement support for jUnit annotations"
Hi. Plugin is very nice, but can't figure out if it's possible to use BeforeClass, AfterClass and other jUnit/TestNG annotions. Tried like this but not working:

[code]

class runner gets generated with all implementation but can't see anything printed

[2017-09-07 14:04] jedi-tester commented on #13
I think I actually made it work. Nevermind :)

[2017-09-07 14:04] #13 closed

[2017-09-08 04:47] jedi-tester opened #14 "Feature: Make cucable.template a .java file instead of text file"
It would be nice to have the runner template as a .java file instead of text. This would make editing/configuring your runners a bit easier.

Not sure if it's possible though. Haven't investigated this yet myself due to lack of time.

[2017-09-08 07:37] laxersaz commented on #14
Interesting idea. It might be possible and I will investigate this for sure.

[2017-09-13 12:28] gvaghjiani opened #15 "Plugin does not work with scenarios without steps"
If I have a feature file containing a scenario without any steps then I get the following error:

`Execution generate-test-resources of goal com.trivago.rta:cucable-plugin:0.0.6:parallel failed: Index: 0, Size: 0 `

In our test flow - we start off with defining Scenario titles which are separately reviewed and filled out at a later stage. As a result it's common for us to have many Scenarios in th

[2017-09-13 14:06] laxersaz commented on #15
Thanks a lot for reporting that. I will take a look!

[2017-09-13 16:46] laxersaz commented on #15
@gvaghjiani would your scenario look like this?

`Feature: test feature
  Scenario: This is a scenario without steps
`

[2017-09-14 11:21] laxersaz commented on #15
I tried it and there is a way to support it. However, it seems like this is not officially supported by the Gherkin parser (the official parser actually skips those scenarios and treats them like they don't exist). So I wonder why you would need no-step scenarios to be created by Cucable since its purpose is the preparation of files that can be run as real tests.
Could you please clarify that?

[2017-09-15 18:49] gvaghjiani commented on #15
Our dev flow requires a set of Scenarios to be established first as titles only, These go through a separate review process and once approved there is work to complete the test implementation.

Whilst the scenarios remain step-less they are tagged and they appear in a report (we use Serenity BDD). There is an audience for these - if they are excluded by the plugin then they are excluded in the rep

[2017-09-18 10:15] laxersaz commented on #15
Alright, I actually found a much cleaner way now that should make it possible to support also empty scenarios. I will implement this and release a new version of Cucable probably this week.

[2017-09-19 11:21] #7 closed

[2017-09-20 12:49] laxersaz commented on #15
Quick update: the implementation is now finished. As soon as the unit tests are done I will release it - the target day is this friday.

[2017-09-20 15:35] laxersaz commented on #15
I just released version 0.0.7 with full support for empty scenarios and other edge cases.

[2017-09-21 08:35] laxersaz opened #17 "Generate runners and features in maven target"
http://www.mojohaus.org/build-helper-maven-plugin/usage.html

[2017-09-21 08:35] laxersaz opened #18 "Make logging configurable"

[2017-09-22 19:36] gvaghjiani opened #19 "Support feature files with dashes in the name"
Invalid Java classes are generated for feature files with dashes in their name.

[2017-09-22 20:03] laxersaz commented on #19
Thanks for reporting. I will look into it tomorrow and release a new fixed version asap.

[2017-09-22 20:12] gvaghjiani opened #20 "Data tables with empty values are not processed correctly"
Scenarios with data tables are not processed correctly if a cell in the table has a blank value

If I have this table:

|header1|header2|header3|
|value1   |              |value3   |

Then the plugin processes this as:

|header1|header2|header3|
|value1   |
|value3   |

[2017-09-22 20:36] laxersaz commented on #20
Do you belong to QA? Your reports are really helpful. I will tackle this issue together with the other one you opened.

[2017-09-24 11:38] laxersaz commented on #20
Fixed in version 0.0.8 - released today.

[2017-09-24 11:38] #20 closed

[2017-09-24 11:39] laxersaz commented on #19
Fixed in version 0.0.8 - released today.

[2017-09-24 11:39] #19 closed

[2017-09-28 09:08] laxersaz opened #23 "Integrage Travis CI code coverage stats badge"
### Expected behavior
There should be a badge stating the code coverage of the project

### Additional details (Maven version, Java version, etc.)
Use codecov (https://codecov.io) and cobertura.

[2017-09-29 09:04] laxersaz commented on #23
Thanks @Muskuloese!

[2017-09-29 09:04] #23 closed

[2017-10-24 14:06] laxersaz opened #26 "Support optional line number in <sourceFeatures> in order to just run a single scenario from a feature file"

[2017-10-25 22:30] prasant-sethi opened #27 "generatedFeatureDirectory and generatedRunnerDirectory does not get deleted"
### Expected behavior
generatedFeatureDirectory and generatedRunnerDirectory should get deleted before every build
### Actual behavior
If I add/remove scenarios from the feature file, no change to the generated features or runners
### Reproduction steps

### Additional details (Maven version, Java version, etc.)
java 8, maven 3.1.1

[2017-10-26 08:19] laxersaz commented on #27
I will investigate this. Thanks for reporting.

[2017-10-27 09:56] laxersaz commented on #27
@prasant-sethi, I tested it and the directories are recreated and wiped before every build. Some IDEs like IntelliJ do not update the directories real-time so you might see the old directory structure. If this issue persists for you there must be a configuration that alters this behavior.

Did you try using the Cucable test project (https://github.com/laxersaz/cucable-test-project) and do you see

[2017-10-27 15:35] laxersaz commented on #26
Will be included in release 0.0.9

[2017-10-27 15:35] #26 closed

[2017-10-30 16:54] amaravathi commented on #17
correct me if I am wrong, either way directories are configurable , so we can use  some thing like <generatedFeatureDirectory>${project.build.directory}/parallel/features</generatedFeatureDirectory>   and                           <generatedRunnerDirectory>${project.build.directory}/parallel</generatedRunnerDirectory> and files will be in target folder

[2017-10-30 17:32] laxersaz commented on #17
That's true but they won't be considered test sources. And since the runners have to be compiled it is not that easy. If you get it to work like you said I would be happy if you let me know so I can add it to the documentation.

[2017-11-06 09:52] amaravathi commented on #17
Thank you laxersaz, as you rightly said those files cant be part of sources to get compiled .

Considering that in mind, have tweaked pom file to get test-sources comiple, and make .classes avaialble to run the test cases .

And here is my cucable.template and plugin details
cucable.template

@RunWith(Cucumber.class)
@CucumberOptions(
    monochrome = false,
    features = {"target/parallel/featur

[2017-11-06 11:40] laxersaz commented on #17
That's cool, @amaravathi ! Thanks a lot for your detailed post. I will try that for sure and think about a good way to integrate it into Cucable if possible.

[2017-11-06 11:41] laxersaz opened #29 "Get rid of all non-ascii log chars"

[2017-11-11 09:22] laxersaz commented on #27
There was no feedback. Closing issue.

[2017-11-11 09:22] #27 closed

[2017-11-14 22:47] Subash85 opened #30 "Not able to generate runners"
I am trying to use the cucable  in my current project but the resources are not getting generated
 could you help me with this . I have given the pom i am using

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersi

[2017-11-16 06:11] laxersaz commented on #30
Hello! Have you tried rubbinf the Cucable example project in https://github.com/laxersaz/cucable-test-project? Because this one works for sure.
Are you sure the runner directory is correct? It should be a path not a package.

[2017-11-18 12:34] schmalzi-compax opened #31 "Filter generation of feature runners with cucumber tags"
First of all, it's a really cool plugin, thank you very much :)
Would it be possible to filter the generation of runners with cucumber tags configurable in the pom.xml?
The same feature already exists in cucumber-slices-maven-plugin and my use case is the @ignore tag. At the moment for all scenarios labeled with @ignore a runner will generated anyway which leads to unnecessary overhead and further

[2017-11-18 20:28] laxersaz commented on #31
Thanks for this suggestion - I will check what's possible 🙂

[2017-11-21 10:43] laxersaz commented on #31
Version 0.1.0 of Cucable will include the excludeScenarioTags option. For a preview check this branch:
https://github.com/trivago/cucable-plugin/tree/0.1.0

[2017-11-22 11:38] schmalzi-compax commented on #31
Cool, i'll take a look asap.

[2017-11-22 12:22] laxersaz commented on #31
The question for me is if Cucable should support:
- Not generating runners and features for passed tags
- Only generating runners and features for passed tags
- Both

For supporting both, this would mean having two properties like

[code]

[code]

[2017-11-22 15:15] schmalzi-compax commented on #31
Yes, i know what you mean, my colleagues and i already discussed the same questions.
Other plugins like cucumber-slices-maven-plugin support the include variant and i would prefer an include list of tags because i think it's more usable.

[2017-11-22 18:49] laxersaz commented on #31
That's right. I thought about that too and I will change it 😁

[2017-11-27 19:18] laxersaz commented on #30
No reaction so I will close this for now.

[2017-11-27 19:18] #30 closed

[2017-11-28 15:46] #29 closed

[2017-11-28 15:46] #31 closed

[2017-11-28 16:07] laxersaz commented on #31
@schmalzi-compax this will be in version 0.1.1 that I just released. Should be available within the next 2 hours. Please note that 0.1.0 will also be there but 0.1.1 is the fixed version.

[2017-11-30 16:18] schmalzi-compax commented on #31
I just verified it with version 0.1.1, works great :)
There is still one last question, because I fell into this trap. My cucumber files were tagged at feature level, so my first run with an include filter wasn't successful. In cucumber feature level tags will be inherited to its scenarios, so should not consider include/excludeScenarioTags tags at feature level too?

[2017-11-30 18:25] laxersaz commented on #31
Really good comment since I wasn't aware of this inheritance. I treat feature tags a little different than scenario tags at the moment. Will certainly try this out and change the behavior accordingly.

[2017-12-01 08:51] laxersaz opened #33 "Tag filters should take feature tags into account"
http://blog.picklespro.com/2016/11/24/anatomy-of-a-gherkin.html

Feature tags are inherited by its scenarios so they need to be considered in filtering as well.

[2017-12-01 08:52] laxersaz commented on #31
@schmalzi-compax I opened issue https://github.com/trivago/cucable-plugin/issues/33 after verifying the behavior. Will be changed in 0.1.2

[2017-12-05 12:42] laxersaz commented on #33
Fixed in version 0.1.2 (on maven central soon)

[2017-12-05 12:42] #33 closed

[2017-12-11 08:10] schmalzi-compax commented on #33
verified with version 0.1.2, thanks again

[2017-12-19 09:24] s1apped opened #36 "Issue with Scenario outline in combination with data table"
Hi,

I'm running cucable successfully with normal scenarios.  But I'm having problem with scenario outline.
In execution log I see below:
{\"name\":[\"<name>\"]
instead of
{\"name\":[\"Adam"]

Looks like parameter isn't read/converted properly?

[2017-12-19 10:19] laxersaz commented on #36
Hello @s1apped ,

In general, Cucable should not have problems with outlines.
Could you give me the complete scenario (or a similar one) so I can test it, please?

Thanks a lot,
Benjamin

[2017-12-19 11:40] s1apped commented on #36
hello @laxersaz ,

I'm using 0.1.2 but I tried previous versions also.
Below is a small example.

  @Test
  Scenario Outline: Test

    Given As a User "test" I'm authorized
    Then Account is created with data:
      | taskId | accountName | type 	| scopeId   |
      | 515555 | Name        | <type>   | <scopeID> |

    Examples:
      | type          | scopeID |
      | Master 	| 3            |

[2017-12-19 11:49] laxersaz commented on #36
OK, I see the problem in this case. So it is happening when using a scenario outline with a data table in combination with an example table.
I will look into that ASAP. Thanks for reporting!

[2017-12-19 11:52] s1apped commented on #36
Great. Thanks for looking into it!

[2017-12-19 17:04] laxersaz commented on #36
I already created a fix for this issue - you can check the code in
https://github.com/trivago/cucable-plugin/compare/0.1.3?expand=1

As soon as the unit tests are done, I will release a new Cucable - probably tomorrow.

[2017-12-20 12:09] laxersaz commented on #36
This issue is fixed in Cucable 0.1.3 which should be on Maven Central in the next 2 hours.

[2017-12-20 12:09] #36 closed

[2017-12-20 12:28] s1apped commented on #36
Awesome. Thank you @laxersaz !

[2017-12-21 13:39] s1apped opened #38 "Only one Scenario Outlines displayed in Report"
Hi @laxersaz ,

Scenario Outline in 1.3 works as expected. Thank you.
Now there is a problem with displaying scenarios in report. Looks like only last one is displayed since each of them has the same name so they are being overwritten.

[2017-12-21 15:11] laxersaz commented on #38
Which reporting do you use? And do you have an example where that happens?

[2017-12-21 18:26] s1apped commented on #38
I'm using Serenity. It happens for every scenario outline.
Below screens shows report of scenario outline executions:
 - without Cucable

![image](https://user-images.githubusercontent.com/32245059/34269322-1ca42a84-e684-11e7-9123-ac4297369882.png)
as you can see scenario outline has 212 examples and one you go inside you can see every single example.

- with Cucable
![image](https://user-images.g

[2017-12-22 05:20] laxersaz commented on #38
I will investigate this further. Thanks for reporting this!

[2017-12-22 10:03] laxersaz commented on #38
Hello, I found out that this is a problem with Serenity's reporting:

In this [Serenity blog article](https://johnfergusonsmart.com/running-parallel-tests-serenity-bdd-cucumber/), it says:

The thing is that Cucable generated single Scenarios from outlines because this allows for much finer grained parallel runs. If Cucable had an option to keep outlines as they are (like cucumber-jvm-parallel-plu

[2017-12-23 17:06] laxersaz commented on #38
Hi @s1apped,

I just had an idea that might be able to solve this. I wonder what would happen if Cucable generated Scenario Outlines not as single Scenarios but individual Scenario Outlines with one example each. It might be that Serenity reporting would combine them to a single Scenario Outline report like before.

Could you check that since I don't have Serenity set up here?

Merry Christmas,
Be

[2017-12-28 08:38] s1apped commented on #38
Hi @laxersaz ,

Sorry for late response. It doesn't work.  I tried with 2 Scenario Outlines with one example each and same Scenario name. Report was generated only with 2nd scenario. Looks like 1st one was overwritten.
I will try to play with Cluecumber.

Happy New Year,
Matt

[2017-12-28 08:38] #38 closed

[2017-12-28 10:21] laxersaz commented on #38
Hi,

thanks for letting me know. I will try to find out more about how Serenity ticks.

Happy New Year,
Benjamin

[2018-01-02 10:25] vikramvi commented on #38
@s1apped can you please share your pom.xml, I am curious to know how you're using Serenity with cucable-plugin ?

[2018-01-05 09:59] laxersaz commented on #38
@s1apped, I created an issue in Cluecumber Reporting. Maybe it is possible to combine Scenario Outline Examples in the report again even if they were split into separate Scenarios by Cucable.

https://github.com/trivago/cluecumber-report-plugin/issues/18

[2018-02-02 20:01] AlexandrefAraujo opened #39 "Feature and Scenario Description in generation of features files"
### Expected behavior
Given I have a description for Feature or Scenario in my **.feature** file
When new feature files are generated in parallel.features folder
Then I will see the Feature description
 And I will see the Scenario description
### Actual behavior
when new feature files are generated in parallel.features folder, the process doesn't import  descriptions bellow Feature and Scenario ta

[2018-02-02 20:29] laxersaz commented on #39
Hello!
This is an awesome description the problem. I will definitely tackle this at the start of next week.
Best,
Benjamin

[2018-02-02 21:55] AlexandrefAraujo commented on #39
Nice! :)
btw, that's nice plugin!
I've created one step after test execution that merges all json results from scenarios in a single file as normal execution. It's been useful for cumber-report to create a single page for each feature with its Scenarios, I'm using Jackson to deal with files and merge them. Let me know if it'd be useful for more people.
Regards,
Alexandre

[2018-02-05 11:20] laxersaz commented on #39
This fix will be released in 0.1.4 today.
Your report JSON merge strategy might be interesting for cucumber-report users.
Here, we are using my Cluecumber Report plugin (https://github.com/trivago/cluecumber-report-plugin) which has the possibility to sort by features as well.

[2018-02-05 11:30] #39 closed

[2018-02-05 11:36] avyasbms commented on #39
Awesome,
I was wanting this.

Alexandre can you share the step for creating cucumber-report.

On 05-Feb-2018 5:00 PM, "Benjamin Bischoff" <notifications@github.com>
wrote:

Closed #39 <https://github.com/trivago/cucable-plugin/issues/39>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/trivago/cucable-plugin/i

[2018-02-05 12:18] AlexandrefAraujo commented on #39
@avyasbms , Yes I can.
I will put in a separate project this week.
Regards,

[2018-02-06 12:30] avyasbms opened #41 "Ability to provide Tags via command line"
When test are executed from command line (e.g. mvn verify -Pparallel ) Tags can't be provided on command line.

How can it be done?

Also in addition to tags if single feature can also be configurable via command line it would help execute large features parallel as well.

[2018-02-06 12:31] JoVzla opened #42 "Error: """ Not Working"
### Expected behavior
Parallel Test Running
### Actual behavior
Run using Intellij, not runing using "mvn clean verify -Pparallel"

`cucumber.runtime.CucumberException: Arity mismatch: Step Definition 'void com.turitop.api.Steps.pass_body_login(String) in file:/home/turitop/IdeaProjects/ApiTest/target/test-classes/' with pattern [^pass body login$] is declared with 1 parameters. However, the gherk

[2018-02-06 12:54] laxersaz opened #43 "Support multiple lines in cucumber scenario specification"
e.g. "features/mixed.feature:3:6:9" should run scenarios on lines 3, 6 and 9

[2018-02-06 12:56] laxersaz commented on #42
Thanks for reporting this!

[2018-02-06 13:01] JoVzla commented on #42
No Problem, we are doing a lot of tests using cucable and cluecumber, i'm happy to help.

[2018-02-06 13:02] laxersaz commented on #41
You can use system properties for that. So e.g. if you pass your parameters like this
`mvn verify -Pparallel -Dtags=@tag1,@tag2`
you can use this property inside your pom file like this:
'<includeScenarioTags>${tags}</includeScenarioTags>'
The same applies to the features.

For this to work, add a properties block in your pom that declares the passable properties:
[code]

This way you can also giv

[2018-02-06 13:03] #41 closed

[2018-02-07 09:08] laxersaz commented on #42
This will be fixed in version 0.1.5 (branch https://github.com/trivago/cucable-plugin/tree/0.1.5)

[2018-02-07 09:26] avyasbms commented on #41
_Awesome_  👍

[2018-02-07 11:41] #42 closed

[2018-02-07 11:41] #43 closed

[2018-02-13 09:11] laxersaz commented on #17
This will be moved to the main README.md file for the next version 0.1.7

[2018-02-14 20:06] AlexandrefAraujo commented on #39
@avyasbms , I've created the plugin to merge result files and show cucumber result as on a normal execution. Please, Try this and let me know about issues/improvements, I have some improvements in mind, this first version is too simple.

https://github.com/AlexandrefAraujo/merge-report-files

[2018-02-16 10:51] laxersaz commented on #17
I rewrote the readme file and included the description on how to generate features and runners in Maven target. Thanks again for your help!

[2018-02-16 10:51] #17 closed

[2018-02-20 13:33] jdoriyastpl opened #47 "Version for maven enforce plugin for build status"
### Expected behavior
Please provide the working example for build status update
### Actual behavior
Using below plugin
"
	<plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-enforcer-plugin</artifactId>
                       <dependencies>
                            <dependency>
                                <groupId>com.triva

[2018-02-20 13:36] #47 closed

[2018-02-20 13:39] jdoriyastpl opened #48 "Please provide the example for maven-enforcer-plugin to update build status"
### Expected behavior

### Actual behavior

### Reproduction steps

### Additional details (Maven version, Java version, etc.)

[2018-02-20 13:40] jdoriyastpl commented on #48
@laxersaz  Can you please provide the complete example for maven-enforcer-plugin
as of now am using:
<plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-enforcer-plugin</artifactId>
                        <dependencies>
                            <dependency>
                                <groupId>com.trivago.rta</groupId>

[2018-02-20 13:46] laxersaz commented on #48
Hi!

Since out custom fail rule is not open source (and does not belong to the Cucable plugin), I cannot disclose this here unfortunatelly.
If you want to write a rule of your own, have a look at the Maven Enforcer documentation: https://maven.apache.org/enforcer/maven-enforcer-plugin/ - especially the section on writing rules here: https://maven.apache.org/enforcer/enforcer-api/writing-a-custom-r

[2018-02-21 08:15] laxersaz opened #49 "Update all dependencies"

[2018-02-21 09:09] jdoriyastpl commented on #48
@laxersaz  Thanks for suggestion, I am closing the issue since am able to proceed with Maven Enforcer custom rule.

[2018-02-21 09:09] #48 closed

[2018-02-25 14:54] laxersaz opened #50 "Language trigger comments are ignored in generated features"
### Expected behavior
Language triggers should be included e.g. `# language: no`
Also, scenario outlines need to be turned into scenarios with the right translation of "Scenario"

[2018-03-02 15:32] #50 closed

[2018-03-08 06:59] jdoriyastpl opened #52 "Provision of retry failed scenarios in cucable template"
### Expected behavior

### Actual behavior

### Reproduction steps

### Additional details (Maven version, Java version, etc.)

[2018-03-08 07:00] jdoriyastpl commented on #52
Hi @laxersaz ,

Can you please guide, how to implement retry failed scenarios mechanism with cucable template?

Thanks
jitin

[2018-03-08 08:31] laxersaz commented on #52
This is a question that does not really belong to Cucable but to Cucumber itself.
We solved it by having a second runner (not a template) that takes scenarios from a rerun.txt file and invoking this one in a second failsafe execution block.

[2018-03-08 08:33] laxersaz opened #53 "Add the source feature file path and scenario line number to the generated feature as a comment"

[2018-03-08 11:11] jdoriyastpl commented on #52
@laxersaz  Thanks for suggestion

[2018-03-08 11:11] #52 closed

[2018-03-12 10:38] laxersaz opened #55 "Support multiple source features"

[2018-03-16 09:07] deepthi-ravindra opened #56 "Forking creating issues with users"
Hello,

We are having issues when running multiple scenarios in parallel with a set of users. We use a csv file to store and pick users and this is not being shared as each test is being forked and isolated.

So multiple users are having to use up the same users at same time and creating issues.

Any help appreciated!

[2018-03-19 10:25] laxersaz commented on #56
This is not a Cucable issue but sounds more like a test design problem in your case. In general, your scenarios should be independent of each other and runnable on their own. In your case they aren't since they all depend on a single shared data source. Without more knowledge of your use case I cannot really help here, I'm afraid.
Maybe running the tests with separated forks (and separated JVMs) i

[2018-03-20 09:43] miranroxti opened #57 "Global before execution"
### Enhancement

Hello,

I was wondering if it would be possible to add an option to make a global before step. I'd like to download something before my test execution. At this moment it has to download it separately for each run. This could maybe be done by adding an option to the profile of a java file that would be executed before the parallel runs get started.

Thanks in advance,
Rob

[2018-03-20 10:19] laxersaz commented on #57
Why can't you just download this file automatically before your tests actually run? Everything that has to do with preparing the test environment should be done before the actual test invocation.
Having this in Cucable would be out of its scope (splitting Cucumber features into chunks).

[2018-03-22 21:02] #57 closed

[2018-03-22 21:03] #56 closed

[2018-03-22 21:06] laxersaz commented on #14
@jedi-tester , I have not forgotten about this. The next release will include the other 4 features in the backlog but after that I hopefully can tackle this one.

[2018-03-29 10:10] laxersaz commented on #53
Added in 0.1.8

[2018-03-29 10:10] #53 closed

[2018-03-29 10:17] laxersaz commented on #49
Done in 0.1.8

[2018-03-29 10:17] #49 closed

[2018-03-30 15:08] laxersaz commented on #18
Feature done, will be released in 0.1.8

[2018-03-30 15:08] #18 closed

[2018-04-02 07:59] avyasbms commented on #41
Hello @laxersaz, is there any way we can use cucumber Tag Expressions ?
https://docs.cucumber.io/tag-expressions/
If not then How can we only execute Scenarios with following cases?
-Tag1 and Tag2
-Tag1 or Tag2

[2018-04-02 10:56] laxersaz commented on #41
You can add cucumber tags in your runner template as well. The Cucable tags are just affecting the feature and runner generation whereas Cucumber tags decide what to run.

[2018-04-02 19:27] mpuertao opened #60 "Can this Plugin be used in Serenity? Generate reports and live documentation?"
### Expected behavior

 I need run test in parallel for scenario with Serenity and keep living documentation - reports

### Actual behavior

Actually, I execute test in parallel for Runner

[2018-04-03 08:07] laxersaz commented on #60
This plugin can be used with Serenity. However, I am pretty sure Serenity‘s reporting cannot handle the sliced scenarios correctly. Maybe try my Cluecumber report plugin instead if it doesn‘t work: https://github.com/trivago/cluecumber-report-plugin

[2018-04-03 12:38] mpuertao commented on #60
Thank you very much for the response.
Excellent work and documentation for this plugin, congratulations.

[2018-04-03 17:15] laxersaz commented on #60
Thanks a lot!

[2018-04-03 17:15] #60 closed

[2018-04-05 10:01] coding-yogi opened #61 "Question : How is it diff from cucumber-jvm-parallel-plugin"

[2018-04-05 12:41] laxersaz commented on #61
It is a little bit easier to use since it doesn't generate complete runners from pom properties but requires a template file. It uses the latest Gherkin parser, supports non-English features, splits scenario outlines into distinct scenarios, supports generating multiple runners for the same feature and last but not least supports placeholders in scenario names.

[2018-04-06 15:43] #61 closed

[2018-04-20 10:03] laxersaz commented on #14
@jedi-tester this is now supported in version 0.1.9 which will be available on maven central today.

[2018-04-20 10:03] #14 closed

[2018-04-30 14:30] jsa34 opened #63 "When a directory begins with "u", the runners fail to execute"
The **runner classes** generated feature comments at the bottom that specify the location from which they are derived.  If a directory begins with "u", because the file separator is using a backslash character to separate files, it throws a parsing error when trying to run feature files as it interprets this as a unicode character (even though it is commented out).

[2018-04-30 15:16] laxersaz commented on #63
Wow @jsa34 this bug is a great find. Thanks for reporting, will tackle this for sure!

[2018-05-08 07:03] laxersaz commented on #63
Creating a fix...

[2018-05-08 08:15] jsa34 commented on #63
I have just updated to 0.1.10 and this issue is still occurring :(

[2018-05-08 08:17] jsa34 commented on #63
e.g. illegal unicode escape reported when a directory begins with u:

import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;

@CucumberOptions(
        glue = {"***"},
        features = {"target/parallel/features/*****.feature"},
        plugin = {"json:target/cucumber-reports/****.json"})

public class **** extends AbstractTestNGCucumberTests {

}

// Source

[2018-05-08 08:46] laxersaz commented on #63
I will check it again, sorry for that

[2018-05-08 09:11] laxersaz commented on #63
Just releasing 0.1.11 to hotfix this issue. Please try again with this version once it is available on Central.

[2018-05-08 09:11] #63 closed

[2018-05-08 09:34] daczczcz1 opened #66 "NPE handling - incorrect Scenario Outline placeholder"
When parsing a Scenario Outline with a placeholder is not present in the examples table, there is a NPE.

[code]
This results in a NPE during parsing of features.

 Ideally, the user would like to see some message pointing to the file and scenario causing the problem.

[2018-05-08 09:36] daczczcz1 commented on #66
@laxersaz If you agree on the matter of the issue, I would like to work on this (of course if you let me :)).

[2018-05-08 09:53] laxersaz commented on #66
Sure go for it :-)

[2018-05-09 07:44] jsa34 opened #67 "Being able to set "include/exclude tags" in the command line"
It would be really helpful to not only be able to specify the tags for including/excluding in the test run in the POM config, but would also be great to be able to set this at run through the command by passing some parameters. This would help with running specific tests/suites and excluding others on demand.

Just an improvement :)

[2018-05-09 13:33] laxersaz commented on #67
This is already possible. See my answer here:
https://github.com/trivago/cucable-plugin/issues/41

[2018-05-09 13:34] #67 closed

[2018-05-17 11:53] #66 closed

[2018-05-21 15:24] laxersaz opened #70 "Add capability to generate runners with a fixed number of features"

[2018-05-30 03:03] jaydeepqa commented on #17
I recently came across Cucable plugin and it works great for me, but I am facing one problem, that is how to attach screenshot in the report against any particular step.

[2018-06-13 16:56] prasant-sethi opened #71 "Enhancement Request - Capability to add glue path in the template from pom"
I must say this is a cool plug in and thanks for the great work.
I have a situation where I want to add the glue path from pom. Let me tell why?

Here is my package structure:
com.feature
- login
   - loginstep.java
- logout
   - logout.java

I want to provide the glue path
glue = "com.feature.login" or "com.feature.logout"

I can't give both because the before in each step definition runs for all

[2018-06-14 12:32] laxersaz commented on #71
Interesting suggestion, @prasant-sethi ! I will look at this one for sure.

[2018-06-15 07:58] laxersaz commented on #71
I am thinking about supporting custom placeholders and arguments so users can be free to pass whatever they want to the template.

[2018-06-25 09:54] laxersaz commented on #71
Release in 1.1.0

[2018-06-25 09:54] #71 closed

[2018-06-25 12:11] SumanpreetJhinjer opened #73 "Failed to execute goal com.trivago.rta:cucable-plugin:1.1.0:parallel"
throws below error while maven clean verify
[ERROR] Failed to execute goal com.trivago.rta:cucable-plugin:1.1.0:parallel (generate-test-resources) on project cucable-test-project: Could not parse feature file 'src\test\resources\features\testfeature\MyTest8.feature'. -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using t

[2018-06-25 14:01] laxersaz commented on #73
Hello @SumanpreetJhinjer ,
Did you make any changes to this feature file? Because I don't have this error when running the example project. Could you run this again with `mvn clean verify -X` to get the full error stacktrace?

[2018-06-25 23:44] SumanpreetJhinjer commented on #73
I have removed those features, it worked. But, when I added the same to my project and changes the configurations like attached POM file. It didn't work. It is still pointing to the resources instead of my feature file.
<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache

[2018-06-26 07:51] laxersaz commented on #73
Checking...

[2018-06-26 08:55] laxersaz commented on #73
Your pom settings don't look right. The plugins should be directly in `<plugins>` not `<pluginManagement>`. Also the features should be located in `resources` and the paths should include forward slashes  - you are using a mixture forward and back slashes.
For me it works after making those changes.

[2018-06-26 15:41] laxersaz commented on #73
If you still have problems, please send a full example project so I can take a look at your setup. For now I will close this as it is not a Cucable bug.

[2018-06-26 19:53] prasant-sethi commented on #71
This is great news ! I tried adding the customPlaceholders tag inside the plugin configuration inside the pom file. Showing error as 'element is not allowed here'.

[2018-06-26 19:59] laxersaz commented on #71
Please check out the example project in https://github.com/trivago/cucable-plugin/tree/master/example-project to see a working example.

[2018-06-26 23:36] SumanpreetJhinjer commented on #73
Hi Laxersaz,

Thanks for your help.
Everything is working as expected now, except the pom.xml still contains error on <execution> tag. It says this should be covered under <configuration> tag, but if I do so then it stops working.
Below is my pom file.
<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.

[2018-06-27 07:43] laxersaz commented on #73
Hello, please take my example project as a basis for your project. Also check your Maven version.
If you still have problems please attach a complete project so I can see the whole thing :-)

[2018-06-29 01:09] SumanpreetJhinjer opened #74 "Cross browser testing"
Hi Lax,

Your plugin is fantastic in terms of parallel testing. I have tested that in my project. Now, I am trying cross-browser testing in my project using your plugin. Can you please send some template pom.xml for cross-browser testing if your plugin supports that?

Thanks
Sumanpreet Singh

[2018-07-04 10:54] SumanpreetJhinjer opened #75 "Exception when building in travis"
Hi Lax,

I am facing issue while building my project in travis.
It's throwing below exception in travis....

[ERROR] Failed to execute goal com.trivago.rta:cucable-plugin:1.1.0:parallel (generate-test-resources) on project restassured-cucumber-java: src\test\resources\features\ is not a feature file or a directory. -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven

[2018-07-04 11:01] laxersaz commented on #75
Hi! If you use forward slashes instead of back slashes it will work on all systems.

[2018-07-05 10:31] #75 closed

[2018-07-23 18:00] kunalnovice opened #76 "Rerun.txt generated from failsafe plugin are generated empty(on a failing scenario)."
**Describe the bug**
Rerun.txt files are generated empty.

My CucumberTemplate includes reference like  "rerun:target/RerunFiles/[CUCABLE: RUNNER]_rerun.txt"

**To Reproduce**
Steps to reproduce the behavior:
1. My CucumberTemplate includes reference like  "rerun:target/RerunFiles/[CUCABLE:RUNNER].txt"
2. Generated Runner Class are correctly mentioning the XXX_rerun.txt files
3. on executing integ

[2018-07-23 20:57] laxersaz commented on #76
Hello @kunalnovice!
Thanks for your report. I will look into it and let you know.
Best,
Benjamin

[2018-07-24 18:43] laxersaz commented on #76
Hello again,
if I understand your setup correctly, this problem seems to be related to your setup and not Cucable. Cucable generates Cucumber compliable feature files, nothing more. 🤨 Have you tried running a Cucable generated feature manually?

[2018-07-26 17:55] kunalnovice commented on #76
thanks for your quick feedback. It was mistake at my end.  I went with cucuableTemplate as given in the repo. and in the process missed out to implement 'strict' cucumberoptions.
'rerun' format was loosely related to strict in a way that strict being default enabled as false was not marking the scenario as failed(for pending and undefined steps) and hence rerun text file was generated empty.

Than

[2018-07-26 17:55] #76 closed

[2018-07-26 18:05] laxersaz commented on #76
Thanks a lot for your kind words 🙂

[2018-08-08 06:26] Avionerman commented on #38
Is there any solution for this issue?
It is really important..

I am having a feature file with a Scenario Outline (10 or 11 examples) and only the last one is being reported. Is there any way to "append" in the end of each execution the json content into a summarised json file?
I mean that is there a way to take 10 small json files and add them in the summarised json file?

Thanks in advance!

[2018-08-08 10:52] laxersaz commented on #38
Sorry to say but as mentioned before this is not related to Cucable but your test framework and how it handles the JSON generation. We use a custom Cucumber based framework which appends to existing JSON files (this is the Cucumber default behavior as well).

[2018-08-08 14:08] Avionerman commented on #38
Nice. This answer was clear. Thanks!

Tip: for those who use Cucumber they can insert a simple @Tag and above it the "Scenario Outline".
The plug in will read it as one "object". Hope I helped.
Take care  :)

[2018-08-20 21:20] pmaddi2 opened #77 "Cucable desiredNumberOfRunners with value 2 is not running two runners in parallel(one runner has chrome features and second runner has ie features) both are executing in sequence not in parallel thread"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a scenario with...
2. Run Cucable
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Attachments**
If applicable, add an attachment to help explain your problem.

**Additional context**
Add any other context about

[2018-08-21 07:40] laxersaz commented on #77
Hello, please provide more information about your setup (unfortunatelly you didn't fill in any of the descriptions in this ticket). Cucable itself is not running any features but just preparing the test data. So your problem is probably related to any step after Cucable.

[2018-08-21 13:59] pmaddi2 commented on #77
Please accept my apologies, added this issue in hurry, hence not able to provide full details.
Here are the details:-
Below POM and template created two runners for Scenario outline with 10 rows in example(5 for ie and 5 for chrome). (like:- ie, chrome, ie, chrome, ie, chrome, ie, chrome, ie, chrome,) and it distributed ie and chrome separately into two runners.  Could you please review and advise

[2018-08-21 15:08] laxersaz commented on #77
Please use the provided POM in the example project as a starting point. Did you try running it with
[code]

[2018-08-21 15:11] pmaddi2 commented on #77
Yes, I tried with this as well, not executed in parallel.

[2018-08-21 15:53] laxersaz commented on #77
Could you attach an example project zip file that I can try? Otherwise it is pretty hard to debug.

[2018-08-21 17:17] pmaddi2 commented on #77
I can't attach here, could you please share your email id to send. or else I have to modify feature file & step defs with google/social sites. I'll update with social site scenarios share you at earliest.

[2018-08-22 09:34] deepthi-ravindra opened #78 "what is the threshold for cucable plugin to run parallel tests?"
We have 215 scenarios running parallely and have noticed they all timeout as and when we add tests to the suite.

Is there a limit for number of scenarios to be run parallely?

Cheers

[2018-08-22 10:55] laxersaz commented on #78
Hello,
Cucable does not run any tests, it just splits Cucumber scenarios into the smallest possible test cases so this question is not related to this project.

The parallel limit for failsafe or surefire is determined by your system resources.

[2018-08-22 10:55] #78 closed

[2018-08-24 09:30] vikramvi commented on #5
@laxersaz because of your last comment https://github.com/trivago/cucable-plugin/issues/5#issuecomment-326283185

[2018-08-24 19:29] pmaddi2 commented on #77
Hi laxersaz,

I just realized that this above POM is not triggering test execution phase, it is just generating resources and compiling. I tried with maven clean verify. without cucable plugin configuration able to trigger test phase . Could you please review and advise what are the changes I have to make in POM to enter into test phase.

[2018-08-24 19:40] pmaddi2 commented on #77
I tried with this either one of these templates:- still not worked.
package org.app.automationcucable.runners;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

import org.junit.runner.RunWith;

//tags = {"[CUCABLE:CUSTOM:foo]"}
@RunWith(Cucumber.class)
@CucumberOptions(
		monochrome = false,
        features = {"C:/Automation/automationcucable/src/test/resources/parallel/

[2018-08-27 11:50] laxersaz commented on #77
Please try the Cucable example project first as this also runs the tests (using `mvn clean verify`). If this works for you (without making any changes), you can use it to expand it to your test case. Since you said that Cucable is generating the test sources correctly for you, I unfortunatelly cannot help you more with your matter of running the tests as this would be beyond the project's scope.

[2018-08-27 11:50] #77 closed

[2018-09-22 17:11] Danepic opened #79 "For Rest Api tests"
Cucable plugin work with tests in Rest Api? I have not yet had the opportunity to test just an API, just in frontend

[2018-09-22 17:19] daczczcz1 commented on #79
The plugin itself doesn't care what is underneath the Cucumber features. As stated  in the readme file, it splits the features and generates runners for them.

[2018-09-24 05:00] #79 closed

[2018-11-05 15:31] Comette opened #80 "Skip features Generation"
Hello, I'm working on parallel execution of ours acceptance tests in my current project. After some research, I found that `cucable-plugin` is the most easy and clear plugin to generate runners based on template from ours `.features` files. But the generation of features files for each scenario is a behaviour that I need to avoid.  Basically, I need cucable to generate runners, based on my `.java`

[2018-11-06 08:46] laxersaz commented on #80
So you want to have runners that point to your existing features? Could it also be an option for Cucable to generate runners and feature files that each contain all scenarios from their source features?

[2018-11-06 10:36] Comette commented on #80
To be more precise, I need all the scenarios included in a single `.feature` file to be executed in series, because they use the same data and if they are executed in parallel will be conflict in our tests. But between `.features` files there are not restrictions, and will be no conflict. So I think that if Cucable dos generate new `.feature` files, but keeping the scenarios together like in the s

[2018-11-06 13:49] laxersaz commented on #80
This should be an easy thing to integrate which might be helpful for some people. I will add this to the list of features of the next release.

[2018-11-06 15:08] Comette commented on #80
Thank you! I'll be waiting for it :)

[2018-11-12 15:41] laxersaz commented on #80
I finished the implementation of this feature. As soon as the unit tests and the documentation is ready, I will release it.

[2018-11-12 20:30] Galileo1 opened #83 "cucumber-report folder which would have all json report files is not getting generated"
**Describe the bug**
Example project does not generate cucumber-report folder which would have all json report files.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the project.
2. Modify the pom.xml file to add the configuration for [cluecucumber ](https://github.com/trivago/cucable-plugin#3-aggregation-of-a-single-test-report-after-all-test-runs)plugin
3. Change the ${cluecumber.rep

[2018-11-13 00:54] josepj opened #84 "Support for tags above Examples"
**Problem:**
I have a scenario outline with tags above Examples as below:
[code]
I see that on running the above scenario outline, the individual feature files generated by Cucable include the tags `@featureTag` and `@scenarioTag`, but do not include the tags `@exampleTag01` and `@exampleTag02`. No tests are executed when `--tags @exampleTag01` or `--tags @exampleTag02` are used. When using `--tag

[2018-11-13 08:32] laxersaz commented on #84
Hi @josepj
honestly, I didn't know example tags were possible. So I will implement this for sure for the next release. Thanks for pointing this out!

[2018-11-13 08:35] laxersaz commented on #83
You need to specify in your Cucumber runner that you want to generate JSON files. This example project is just to show how Cucable works so this is expected behavior.

Please consider the [Cluecumber Prerequisites]https://github.com/trivago/cluecumber-report-plugin#prerequisites) for generating JSON files.

[2018-11-13 08:38] laxersaz commented on #83
Just a second :-)

[2018-11-13 09:38] laxersaz commented on #83
Hello @Galileo1

I investigated this and you are correct. I pushed an updated version of the example project which generates the JSON files as expected.
Thanks a lot for letting me know!

[2018-11-13 09:38] #83 closed

[2018-11-13 18:34] Galileo1 commented on #83
Thanks @laxersaz

[2018-11-14 10:43] Comette commented on #80
Hi! I just tried to use the new feature on realease 1.2.0, but it didn't worked. Here is the error:
[code]

[2018-11-14 11:57] laxersaz commented on #80
Checking...

[2018-11-14 11:59] laxersaz commented on #80
@Comette can you please run it with the maven option `-X` and send me the stacktrace?

[2018-11-15 11:31] laxersaz commented on #84
This is currently in development:

- Implement tag inheritance (feature -> scenario -> examples)
- Consider example tags when passing `includeScenarioTags` and `excludeScenarioTags`

[2018-11-16 09:34] laxersaz commented on #80
@Comette Any news?

[2018-11-22 13:28] Robin-M opened #85 "Issues with parallelization mode "features""
I found your plugin while searching for a good alternative for our current parallelization plugin of which the latest versions aren't compatible with our project anymore. I like the parallelization mode "features" because then I can keep using our current Cucumber reporting tool which give us the best view of the results. However, I have a few issues which prevent me from using this plugin:

1. I

[2018-11-23 09:30] laxersaz commented on #84
Hello @josepj ,

this will take some more time as it has to be very carefully implemented. But rest assured I will try to finish this up next week.

Have a good weekend,
Benjamin

[2018-11-23 10:00] laxersaz commented on #85
I fixed the two mentioned bugs and this will be included in the 1.3.0 release next week.

[2018-11-26 14:17] josepj commented on #84
Thanks @laxersaz! Appreciate it.

[2018-11-30 13:02] laxersaz commented on #85
Fixed with 1.3.0

[2018-11-30 13:02] #85 closed

[2018-11-30 13:03] laxersaz commented on #84
Fixed with 1.3.0

[2018-11-30 13:03] #84 closed

[2018-11-30 13:03] laxersaz commented on #80
Should be fixed with different feature generation approach in 1.3.0

[2018-11-30 13:03] #80 closed

[2018-12-02 12:47] jaydeepqa opened #87 "Logically ANDing and ORing Tags in Cucumber"
If we mention multiple tags under the includeScenarioTags then it behaves like Cucumber ORing Tags but if we want to use Cucumber ANDing Tags then how to achieve the same?
For clarity I am talking about Logically ANDing and ORing Tags in Cucumber.

[2018-12-02 13:04] laxersaz commented on #87
This is not supported (yet). You can achieve the same by using Cucumber tag expressions in your custom runner, though.
The Cucable includeScenarioTags just specify which scenarios should be _generated_. If you want to _run_ a subset of those with multiple tags connected with _and_, this has to be achieved within the runners.
However, it is a good idea to support this behaviour in Cucable as well.

[2018-12-02 13:05] laxersaz opened #88 "Support includeScenarioTags with _and_ and _or_"
Created from #87

[2018-12-02 13:06] #87 closed

[2018-12-04 22:51] josepj commented on #84
@laxersaz, just ran a quick test and the tags work perfectly! Thank you!

[2018-12-06 17:49] robintyagi1290 commented on #73
Hello, I am trying to implement cucable plugin. Looks like it is not running Test Cases. Please check below output from console. (I am not able to find out json file. I am not understanding why json file is not getting created).

[INFO] --- build-helper-maven-plugin:3.0.0:add-test-source (add-test-source) @ TheAvengers ---
[INFO] Test Source directory: D:\photon-workspace\TheAvengers\target\parall

[2019-01-03 13:55] amitavaghosh1981 opened #89 "How to bring up shared embedded environment?"
We need to bring shared environment before executing all the feature files. Earlier we kept this in the cucumber starter file and now since all the files have same copy of cucumber starter we we are not able to bring up single instance of shared embedded server. We nee some clue how this can be possible.

[2019-01-03 13:59] laxersaz commented on #89
Basically, if you need any shared environment for tests, this should be spun up before your tests run.
Without more details from your side I cannot judge what have to be done here (also this request is not something related to Cucable as far as I can see).

[2019-01-03 14:52] laxersaz commented on #89
In this case, you either have to spin up the test environment before running those tests (using a CI pipeline, a separate Maven goal or profile, a shell script, Docker etc.) or check within your @BeforeClass if your environment is already running.
There is no way for Cucable to determine how to deal with this scenario since its only concern is splitting up runners and features but not running the

[2019-01-04 01:27] Galileo1 opened #90 "Question on JVM forking and managing parallelization using this plugin"
My understanding: The parallelization in this plugin is left on to surefire and it's configuration parameters. It is not inherently built into this plugin as such I believe.

Would you be able to emphasis on the best practice of how this plugin along with the capability of surefire failsafe plugin(forkCount etc) can be used properly.I am facing issues in how to optimally utilize this plugin.

- Wh

[2019-01-04 08:01] laxersaz commented on #90
Hello, yes you are right, the parallel runs have to be handled by surefire or failsafe - Cucable just splits up the scenarios and generates the necessary runners. If you have 100 test cases and 2 forks, each fork might run about 50 test cases sequentially. It can also be more or less depending on the run time of each test case - whenever one fork (JVM) is idle, the next test case will run there.

[2019-01-04 13:22] amitavaghosh1981 opened #91 "Cucable cases not running in parallel"
We have created around six test cases from cucable  and the below plugin is forking with 2 threads. Our expectation was was to finish our older E2E's within half a time but we found all tests were executing in serial manner. Hence not much time difference could be achieved. Is there any other setting to be changed to run the cases in parallel?

<plugin>
                <groupId>org.apache.maven.pl

[2019-01-18 12:17] valdeziscoming opened #92 "newline in table cells results in an unparseable gherkin scenario"
Steps to reproduce the behavior:
1. Create a scenario with a table (Data or Example) with cell text containing a new line e.g. 'line1\nline2'
2. Run Generated feature
3. See error

cucumber.runtime.CucumberException
gherkin.ParserException$CompositeParserException
.
.

When reading cell text within the appropiate methods in class GherkinToCucableConverter
new lines should be double escaped...

[2019-01-18 12:51] laxersaz commented on #91
@amitavaghosh1981 ,
did this help to solve your issue?

[2019-01-18 12:52] #90 closed

[2019-01-18 12:52] #89 closed

[2019-01-18 14:45] laxersaz commented on #92
Investigation in progress

[2019-01-19 11:37] laxersaz commented on #92
Started with bugfix for version 1.3.1

[2019-01-22 18:08] hugo-tavares commented on #73
Hey, I'm getting the same error as the OP in the example project, but when I delete the generated feature files, as he did, when I run mvn clean verify it just builds the project without running (or even skipping) any tests. My maven version is 3.6.0 and I didn't make any changes in the example project.

Do you have any suggestions?

[2019-01-22 19:01] hugo-tavares commented on #73
The error I was getting was in "MyTest8.feature", I changed its content to another feature written in english and it ran (some of the features at least, and then I got an error again).

[2019-01-23 13:51] laxersaz commented on #73
Hello @hugo-tavares ,

did you run the current example project using Cucable 1.3.1?
If so, could you run the `MyTest8.feature` again using `mvn clean verify -X` and attach the stacktrace?

Best,
Benjamin

[2019-01-23 19:04] hugo-tavares commented on #73
Hey, I cloned it again and ran verify, now the error starts in the first feature.
[errorlog.txt](https://github.com/trivago/cucable-plugin/files/2788772/errorlog.txt)

[2019-01-24 10:57] laxersaz commented on #73
I ran it both with Maven 3.3.9 and Maven 3.6.0 and both times there were no problems. Your paths look strange with the mixture of forward slashes and backslashes. Maybe this is something that occurs on Windows only.

[2019-01-29 12:08] valdeziscoming opened #94 "Using ${loremipsum} inside table cell content throws ParseException"
When using variable substitution in a table data section e.g.

  @framework
  @nobrowser
  Szenario: Datumsfunktion
    Wenn Freemarker-> ich Daten für heute, morgen und gestern über die Datumsfunktionen generiere
      | heute      | morgen               | gestern               |
      | ${heute()} | ${datum(heute(),+1)} | ${datum(heute(), -1)} |
    Dann Freemarker-> sind die Daten über die Datu

[2019-01-29 15:12] laxersaz commented on #94
Hi @valdeziscoming ,

thanks a lot for reporting. This will be tackled for version 1.3.2

Best,
Benjamin

[2019-01-30 10:55] laxersaz commented on #73
Hello @hugo-tavares ,
I updated the Cucumber version in the example project to 4.2.2 because apparently 4.2.1 had a bug when running on windows. Could you try pulling and running the example project again?
Thanks :-)

[2019-01-30 11:42] valdeziscoming commented on #94
Nice ! Thanks for this great plugin btw. and for your fast response time !

BR, Peter

[2019-01-30 20:12] josepj commented on #73
@laxersaz, I updated Cucable to 1.3.1 this morning and hit the error mentioned above:

`[ERROR] Failed to execute goal com.trivago.rta:cucable-plugin:1.3.1:parallel (split features and generate runners) on project : Could not parse feature file 'src\test\resources\features\featureSet\test.feature'.`

The error disappeared on reverting to Cucable 1.3.0.

I looked at the paths based on the discussio

[2019-01-30 22:49] abhishek8908 opened #95 "[Q] Cucable with cucumber 4?"
Cucumber version 4 already supports the parallel run. How this plugin can help people who are using cucumber version 4?

[2019-01-31 08:15] laxersaz commented on #73
Can you please send me the `test.feature` so I can try it with this one? Otherwise I cannot try reproducing it.

[2019-01-31 08:19] laxersaz commented on #95
It has more options than the native Cucumber 4 parallel capabilities:
- It supports running single scenarios in parallel with JUnit
- It supports splitting scenarios and attaching them to a fixed number of runners
- You don't need any test framework changes because Cucable runs before the framework invocations
- You have full control over your runners because of template variables and custom place

[2019-01-31 08:19] #95 closed

[2019-01-31 17:12] laxersaz commented on #73
Hello again @josepj and @hugo-tavares ,
I think I found an issue with the file reader. I will push a new version of Cucable tomorrow that might work again for you.
Thanks so far for your help and patience.

[2019-01-31 17:14] laxersaz commented on #94
I fixed this one and will push the new version of Cucable tomorrow.

[2019-02-01 09:35] laxersaz commented on #94
Released 1.3.2 - it should be on central soon. Please let me know if this fixes it.

[2019-02-01 09:35] #94 closed

[2019-02-01 09:35] laxersaz commented on #73
Released 1.3.2 - it should be on central soon. Please let me know if this fixes it.

[2019-02-01 19:52] hugo-tavares commented on #73
Hey, I'm still getting the same error with the new version. I cloned the example again and when I run mvn clean verify I still get this:
[ERROR] Failed to execute goal com.trivago.rta:cucable-plugin:1.3.2:parallel (generate-test-resources) on project cucable-test-project: Could not parse feature file 'src\test\resources\features\testfeature\MyTest8.feature'. -> [Help 1]

[2019-02-02 10:08] laxersaz commented on #73
Hi @hugo-tavares can you please send me more details about yourenvironment? Did you also try it on a separate operating system?

[2019-02-04 13:09] hugo-tavares commented on #73
Hi, here's my environment:
Windows 10
Java 11.0.1
Maven 3.6.0
Cucumber 4.2.2
Cucable 1.3.2
OS language: Portuguese

I only tried to run it on Windows 10. I'm also attaching the stacktrace.
Thanks for your help, by the way.

[2019-02-04 17:55] josepj commented on #73
@laxersaz, apologies for the late response.

1.3.2 seems to have fixed the issue for me. I no longer see the error and am able to execute my tests.

**Environment:**
_Windows 10
Cucumber 4.2.2
Cucable 1.3.2
Maven 3.5.4
Surefire/Failsafe 3.0.0-M3_

[2019-02-05 12:38] laxersaz commented on #88
This is planned for a larger Cucable update which will be started next week.

[2019-02-05 12:39] jaydeepqa commented on #88
Thanks for the update.

On Tue, Feb 5, 2019, 6:08 PM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-02-05 16:05] valdeziscoming commented on #94
it's fixed, thanks again !

[2019-02-11 08:57] laxersaz commented on #73
@hugo-tavares did you try changing the file encoding of `MyTest8.feature` to UTF-8? It seems like your system might have difficulties with the encoding.

[2019-02-11 16:44] laxersaz commented on #88
The implementation for this feature is done. Now working on the two remaining ones to release together.

[2019-02-11 17:10] jaydeepqa commented on #88
Hey thanks a lot for letting me know, your effort is much appreciated.

On Mon, Feb 11, 2019 at 10:14 PM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-02-13 15:52] #88 closed

[2019-02-13 15:52] #70 closed

[2019-02-13 15:53] #55 closed

[2019-02-14 08:18] laxersaz commented on #41
@avyasbms , Cucable 1.4.0 now supports tags connected with _and_ or _or_  :-)

[2019-02-14 13:33] dreamflame51 commented on #73
@laxersaz is Cucable compatible with TestNG?

[2019-02-14 13:56] laxersaz commented on #73
Cucable is independent of junit or testng since it runs BEFORE test execution.

[2019-02-14 14:04] dreamflame51 commented on #73
Yup, read the manual and double checked in the project. thanks )

[2019-02-28 12:41] laxersaz commented on #73
Closed for now due to missing feedback.

[2019-02-28 12:41] #73 closed

[2019-03-06 02:59] buddybharath opened #97 "Same scenario is executed instead of different ones during parallel execution"
Hi
We are trying to use cucable-plugin to execute Cucumber Selenium webdriver tests in parallel. We can see scenarios in feature file getting split into appropriate features and the appropriate number of runners are also created properly. However on execution, its noticed that same scenario gets executed in multiple webdriver driver instance instead of different scenarios getting executed in each

[2019-03-06 03:22] buddybharath commented on #97
Found what the problem is. We had used " -Dcucumber.options=src/test/Resources/features/" in the command line parameter. Looks like by default the execution happens from this folder, so mentioning has made another instance of the same features to execute.

So looks like this is expected behavior and hence can be closed.

[2019-03-06 03:22] #97 closed

[2019-03-06 15:40] VinnieM opened #98 "Report not generating while running from IDE (Intellij), but works when executed from Maven in the terminal"
**Describe the bug**
The report folder is not getting generated, when the code is being executed from the IDE (Intellij - Community Edition), but is getting generated when executed from the command prompt.

**To Reproduce**
Steps to reproduce the behavior:
I am attaching my POM.xml, please do let me know if anything else is required.

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://m

[2019-03-06 15:41] #98 closed

[2019-03-07 10:55] rahulbommanaboina commented on #52
@laxersaz : Is there a way we can add another column in the html reports as "Retry" , we would like to know the count it tried for the scenarios , apart from this it will be good if Retry configuration is available in the same plugin , rather than using another runner file. Please suggest.
![capture](https://user-images.githubusercontent.com/29060552/53951914-90157000-40f5-11e9-937f-b6c023e00afb.P

[2019-03-07 10:58] rahulbommanaboina opened #99 "Retry configuration and Report modification in Trivago Cucuable Plugin"
**Is your feature request related to a problem? Please describe.**
I have gone through extended cucumber options ,which has retry count associated to it , but the report generation is not so amazing like yours :) , and also i would like to change and add few other columns in the report which is getting generated , is there a way we can do that ? Attaching a screenshot which edited directly in the

[2019-03-07 11:05] laxersaz commented on #52
As long as this is reflected in the resulting JSON files, this could potentially be displayed by Cluecumber. Adding custom columns is not possible (at least not in the current state of Cluecumber).

[2019-03-07 11:08] laxersaz commented on #99
This question is unrelated to Cucable.

[2019-03-07 11:08] #99 closed

[2019-03-07 11:13] rahulbommanaboina commented on #52
Ya thank you @laxersaz

[2019-03-07 11:13] rahulbommanaboina commented on #99
@laxersaz  Thanks for the response , i raised as a feature request !

[2019-03-07 19:47] Srinivasaraor opened #100 "Step table handling error"
**Describe the bug**
Throwing error when the step table value is not defined in the example table column.
Same issue is observed with Scenario and ScenarioOutline.
Below scenario outline is working fine with cucumber.

**To Reproduce**
Steps to reproduce the behavior:
1.    Scenario Outline: Check for specialties for an Expert Witness
    Given a new request is created for the "test" user and "pro

[2019-03-07 19:58] Srinivasaraor opened #101 "cucable is not picking the tags on example tables"
**Describe the bug**
Cucumber allows tags on multiple example table for a scenario outline but cucable is not able to pick test value from example table based on tag

**To Reproduce**
Steps to reproduce the behavior:
@jurriespoelstra
1. Scenario Outline: Check for Top Practice Areas and Jursidiction for an Expert Witness
    Given a new request is created for the "test" user and "profilesuite" use

[2019-03-07 20:14] Srinivasaraor opened #102 "would it possible to pass tagging logic in include and exclude ScenarioTags"
**Is your feature request related to a problem? Please describe.**
i am looking to pass below tagging logic to pick certain test tagged with dvt, is it possible via cucable plugin
 '(@archive or @reg-gb or @manual or @ignore or @partial or @bcd or @stf) and (@dvt)'

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've cons

[2019-03-08 09:07] laxersaz commented on #102
As you can only set a global `and` or `or` connection for included tags, this is not possible with Cucable alone at the moment. However, you could use the `includeScenarioTags` property of Cucable with your `@DVT` tag - this would generate all features that include this tag. Then, in your runner file, you could filter out all features that don't contain `@archive`, `@reg-gb`, `@Manual`, `@ignore`,

[2019-03-08 09:23] laxersaz commented on #101
Hello @Srinivasaraor ,

I ran your example...

#### ...without any `<includeScenarioTags>`

=> 2 features were generated:

[code]

#### ...with `<includeScenarioTags>@Regression</includeScenarioTags>`

=> 1 feature was generated:

[code]

#### ...with `<includeScenarioTags>@Regression</includeScenarioTags>`

=> 1 feature was generated:

[code]

So I did not see any error. Can you maybe provide mor

[2019-03-08 10:47] laxersaz commented on #100
Hello @Srinivasaraor ,
yes you are correct - this is indeed a bug which should be fairly easy to fix. I will tackle this one and release it soon.

[2019-03-08 15:12] Srinivasaraor commented on #102
How about having only "<scenarioTags></scenarioTags> instead of <includeScenarioTags> and <excludeScenarioTags> by allowing AND,OR, NOT logic to it , this implementation will allow us to write more complex tagging logic to generate desired feature files . Please let me know your thoughts.
Thank you
Srinivas

[2019-03-08 16:01] laxersaz commented on #102
Personally I think this would be nice to support the Cucumber 4 way of specifying tag logic, e.g. `(@smoke or @ui) and (not @slow)` (taken from https://docs.cucumber.io/cucumber/api/#tags). The downside is that the implementation is not that trivial.

[2019-03-08 16:03] laxersaz opened #104 "Support advanced Cucumber 4 tag logic in Cucable"
follow up from #102

[2019-03-08 16:03] #102 closed

[2019-03-08 16:44] Srinivasaraor commented on #101
Hi Benjamin,
Thanks for the quick response.
I couldn't able to test this with latest Version 1.4.0 due to the bug that i have posted in the separate thread. This issue can be reproducible With the version 1.1.0.

Please find the below screenshots:

![image](https://user-images.githubusercontent.com/22300715/54042162-74fb3c80-4197-11e9-8e21-d01d06a1ddcb.png)

![image](https://user-images.githubuser

[2019-03-08 16:51] Srinivasaraor commented on #100
Thanks for your quick response

[2019-03-08 18:19] Srinivasaraor commented on #101
Hey Benjamin,

I saw the similar issue **Support for tags above Examples #84** and  as per the conversation this issue was resolved with the version 1.3.0.
Sorry for the redundant question.
Thanks for your time
Srinivas

[2019-03-08 18:52] #101 closed

[2019-03-10 04:13] jaydeepqa opened #105 "Not able to run when Step Definition in a .jar file"
I am having my Step Definitions code/file in a .jar file which I imported in project build path in Eclipse, but my feature file and Test Runner file is not in .jar.
Now when I am trying to run my tests getting error "You can implement missing steps with the snippets below:" actually TestRunner file's glue is not able to find Step Definitions in a .jar file.
Do I need to mention something explicitl

[2019-03-10 17:14] laxersaz commented on #105
This question is unrelated to Cucable. Cucable just splits features into smaller parallelizable parts based on a template file. So it runs __before__ the tests are executed.

[2019-03-10 17:14] #105 closed

[2019-03-11 02:04] jaydeepqa commented on #105
Got it, still from your personal experience can you give some info about
how we can achieve this.

On Sun, Mar 10, 2019, 10:44 PM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-03-11 08:28] laxersaz commented on #105
Sorry, @jaydeepqa , but this is not a general Cucumber support forum. As this is a side project, I unfortunately don't have the resources to answer questions outside of this project.

[2019-03-11 14:20] laxersaz commented on #100
Available in 1.5.0

[2019-03-11 14:23] laxersaz commented on #104
Available in 1.5.0

[2019-03-11 14:39] #104 closed

[2019-03-11 14:39] #100 closed

[2019-03-12 17:34] Srinivasaraor commented on #104
Thanks Benjamin
Awesome, Working as expected.

[2019-03-14 10:37] boris779 opened #107 "Missing scenario with cucumber tag expression"
Since I upgraded to cucable 1.5, one scenario is not recognized

I run exactly the same testset with Version 1.3 and 1.5 to compare

`

10:36:01 [INFO]  Cucable Maven Plugin, version 1.3.0
10:36:01 [INFO] -------------------------------------
10:36:01 [INFO] - sourceRunnerTemplateFile  :
src/test/resources/parallel/cucable.template/CucableJavaTemplate.java
10:36:01 [INFO] - generatedRunnerDirector

[2019-03-14 11:38] laxersaz commented on #107
Thanks for reporting, I will investigate this. If you give your RG-05 scenario any tag (e.g. @dummy), is in included?

[2019-03-14 17:03] laxersaz commented on #107
I found the bug and fixed it for release 1.5.1 - it should be available on Maven central soon. Please try it @boris779 and let me know if this fixes it.

[2019-03-14 18:00] #107 closed

[2019-03-18 09:09] boris779 commented on #107
Sorry for delay.
it works now :-)
Thx for the fast fix.

[2019-03-18 12:20] ajmera25 opened #108 "Runner file generated with the feature/scenario Name"
Currently I can see when I generate runner on the basis of scenario then it is generated something like "MyFeature_scenario001_run001_IT". What I want is that runner name should include the scenario name.
So it can be like example "ScenarioName",FeatureName_ScenarioName or any custom as per user.

It Just a thought. Reason why i said so because with runner file name I should be able to know this i

[2019-03-18 19:05] laxersaz commented on #108
Hello @ajmera25
can you elaborate a little more why this would help you when you run through Jenkins? Because Cucable is designed to select and filter while generating test resources so that you don't have to filter again when you run those generated resources.

[2019-03-26 07:54] VinnieM opened #109 "Class name TestNgCucumberRunner Being renamed when Runner are autogenerated"
**Describe the bug**
Inside my Runner class I have created an instance of the class TestNGCucumberRunner, this is being replaced by the generated class name.

Firstly let me say that I am not sure if this plugin is supposed to be used with TestNg.

My Runner class looks like this..
[code]

After the automatic code generation this is the code I get

[code]

PS: I might be wrong, but is it searching

[2019-03-26 08:22] laxersaz commented on #109
It is correct that the class name is being renamed as there can be multiple runners that each need to have a distinct class name. This is also stated in the documentation (https://github.com/trivago/cucable-plugin#using-a-java-file-as-a-runner-template):

---
If you use a java file (e.g. src/test/java/some/template/CucableJavaTemplate.java), the [CUCABLE:FEATURE] placeholder __as well as the class

[2019-03-26 08:29] VinnieM commented on #109
I guess the problem was that my Class name was called Runner and inside that I was using the instance of the class TestNgCucumberRunner. While replacing the class name (Runner), and since I was using TestNgCucumber**Runner** I guess the replacing went haywire.

When I change the name of the my Class from Runner to something else, it seems to be working as expected.

[2019-03-26 08:32] #109 closed

[2019-04-01 10:36] VinnieM opened #110 "Initializing classes inside the runner"
This might be a very trivial question. As per my design I am loading all my required classes (initializing Selenium/Appium library, Test data and other stuff) in the Runner class. How do I initialize all the required stuff in the CucableJavaTemplate? Tried with @Before of junit; does not seem to work, Constructor also does not do anything... Below is the example code I have tried out, the sysout d

[2019-04-01 11:59] laxersaz commented on #110
In its default setting, each runner runs a single scenario in an isolated JVM (depending on the Failsafe settings). The runners themselves are just normal runner classes that behave the same as as your "normal" runners. Since this highly depends on your test framework and is unrelated to Cucable, I unfortunately cannot help you with that.

[2019-04-01 11:59] #110 closed

[2019-04-01 12:00] laxersaz commented on #108
Closed because of no further activity.

[2019-04-01 12:00] #108 closed

[2019-04-01 12:09] VinnieM commented on #110
Thank you for the response. However I do have a question. I am trying to run the example provided with the project (The code mentioned above). If they are normal classes why do you think the sysout is not getting printed? I can share the code if required.

[2019-04-01 12:20] laxersaz commented on #110
JUnit `@Before` annotations don't work in Cucumber. The way to go would be `cucumber.api.java.Before`. However, these cannot be defined inside the runner class (as clearly stated in the error message):
[code]

[2019-04-01 12:23] VinnieM commented on #110
Yep, I got that as well...Do you have any suggestions? I was able to use the @BeforeClass inside the runner, trying with that.

PS: Do you think initializing stuff inside the Runner is a poor design?

[2019-04-01 12:25] laxersaz commented on #110
Please understand that this is only a place to discuss Cucable issues and not give general advice.

[2019-04-01 12:26] VinnieM commented on #110
Got it, thanks for your help.

[2019-04-17 08:53] tusharkhoche opened #111 "Your Example project throwing error in pom in eclipse"
I forked and downloaded your example project (https://github.com/trivago/cucable-plugin/tree/master/example-project). Trying to run it in eclipse Java EE IDE Version: 2018-09 (4.9.0).
 The pom is throwing below mentioned error:
_Plugin execution not covered by lifecycle configuration: com.trivago.rta:cucable-plugin:1.5.1:parallel (execution: generate-test-resources, phase: generate-test-resources)

[2019-04-17 09:02] laxersaz commented on #111
Hi @tusharkhoche ,
this is actually the first time I hear about this issue.

Here is a big discussion about this:
https://stackoverflow.com/questions/6352208/how-to-solve-plugin-execution-not-covered-by-lifecycle-configuration-for-sprin

Could you check out if anything in there solves it and let me know so I can add it to the project documentation?

Best,
Benjamin

[2019-04-17 09:14] tusharkhoche commented on #111
Hi @laxersaz ,

Thanks for response. I am checking.

[2019-04-17 09:29] tusharkhoche commented on #111
I did change mentioned below as suggested in the link you gave.

_Suggested solution from Eclipse m2e documentation:
    Use quick-fix on the error in pom.xml and select Permanently mark goal run in pom.xml as ignored in Eclipse build - this will generate the required boilerplate code for you.
    To instruct Eclipse to run your plugin during build - just replace the <ignore/> tag with <execute/>

[2019-04-17 09:30] tusharkhoche commented on #111
This was the change mentioned in the link Somehow not visible in previous comment
<action>
    <execute/>
</action>

[2019-04-17 09:34] laxersaz commented on #111
Interesting, it seems like your system doesn't have the correct encoding for the Romanian `MyTest8.feature` feature. Could you try deleting this feature and re-running again?

[2019-04-17 09:49] tusharkhoche commented on #111
Yes not it runs :)

[2019-04-17 09:49] tusharkhoche commented on #111
now*

[2019-04-17 09:50] laxersaz commented on #111
This encoding issue is weird. I will take a closer look at that.

[2019-04-17 09:51] tusharkhoche commented on #111
Sure, Thanks for help :)

[2019-04-24 10:30] tusharkhoche opened #112 "Issue in identifying feature file/directory"
Hi @laxersaz , I did all that which is required for the plugin to work. I am getting error in POM that resources/features/searchflights is not a feature file or a directory. The path is correct as you can see in attached screenshot.

![image](https://user-images.githubusercontent.com/19679029/56652775-c90ba300-66a9-11e9-86be-e1addaf5ce85.png)

![image](https://user-images.githubusercontent.com/196

[2019-04-24 11:19] laxersaz commented on #112
Hi, I just tried it with a similar setup using the example project and it works correctly.
Did you try taking the example project and modifying it step by step to match your desired setup?
At first glance I cannot see any error.

[2019-04-25 04:14] tusharkhoche commented on #112
Yeah your example project works correctly now (https://github.com/trivago/cucable-plugin/issues/111). I have just copy pasted POM settings from the example project.

[2019-04-25 04:47] #112 closed

[2019-05-13 15:44] Srinivasaraor opened #113 "Add capability of rerunFailingTestsCount in parallel as an optional parameter"
This is a Request for new feature :Add capability of rerunFailingTestsCount in parallel

I am big fan of Cucable and Clucumber plugin.
And recently I have been working on incorporating rerunning of failed tests as optional parameter in our frame work , I have gone through multiple options and below is the summary and drawbacks

**1.	MVN: Failsafe and Surefire : -Dsurefire.rerunFailingTestsCount=2*

[2019-05-14 08:24] laxersaz commented on #113
Cucable is not a test runner but only splits features and scenarios into parallelizable parts. So implementing rerun functionality is not a matter of Cucable but your test framework/Maven setup.
Sorry to disappoint you here.

In fact, we use a custom framework plugin to gather specific scenarios based on their exception in order to rerun them in a separate failsafe livecycle.

[2019-05-14 08:24] #113 closed

[2019-05-29 15:23] murali4624 opened #114 "mvn clean verify runs successfully but doesn’t create any files."
I cloned the cucable plugin project and navigated to example project(cucable-test-project).
Executing mvn clean verify does not create any feature files or additional runner files.

However the build says Success.

Only change in the Pom after cloning is - added pluginManagement tag to avoid the error in eclipse.

![image](https://user-images.githubusercontent.com/44981358/58569300-7a4aaf00-81fb-1

[2019-05-29 17:18] DeChrish opened #115 "Gradle implementation"
**Is your feature request related to a problem? Please describe.**
This feature request is not related to problem.

**Describe the solution you'd like**
Currently we are using maven build, Migrating to gradle.

**Describe alternatives you've considered**
We don't have alternative

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-05-30 11:13] gazler22 commented on #114
There is some issue with the `PluginManagement` tag with the `m2e `plugin in eclipse. Looking here might help:

https://stackoverflow.com/questions/6352208/how-to-solve-plugin-execution-not-covered-by-lifecycle-configuration-for-sprin

This is not a Cucable specific issue.

As a WA, you can remove Cucable plugin from the `PluginManagement` tag and use the project that way. The lifecycle error that

[2019-06-02 22:54] laxersaz commented on #115
I don't have much experience with gradle. So whoever wants to tackle this - feel free :-)

[2019-06-02 22:55] laxersaz commented on #114
@murali4624 did this work? If so, please close the issue.

[2019-06-03 02:26] murali4624 commented on #114
Thanks @gazler22 . It worked.
Thanks @laxersaz for a great plugin!

[2019-06-03 02:26] #114 closed

[2019-06-03 08:18] avyas commented on #41
Can you please provide an example?

[2019-06-03 08:21] laxersaz commented on #41
@avyas , it is all in the documentation and also included in the example project...
https://github.com/trivago/cucable-plugin#includescenariotags

[2019-06-06 23:45] yuraku commented on #88
hi @laxersaz . I'm trying to specify multiple tags in the pom, but it's failed as not recognized
<img width="731" alt="cucable_tags" src="https://user-images.githubusercontent.com/5933211/59073067-35470c80-88ce-11e9-89bb-75172ffd5227.png">

could you please point me to what is specified wrong? thanks in advance

[2019-06-07 09:12] laxersaz commented on #88
It should still work when you run it.
If you use IntelliJ, you can suppress it by adding this line before your property:
``

By the way, this does not happen if you pass in the property from the outside with Maven's `-D` flag.

[2019-06-10 17:55] murali4624 opened #116 "How to avoid running the java template file?"
Following is my cucumber template java file.

    package some.template;

import cucumber.api.CucumberOptions;
//import cucumber.api.junit.Cucumber;
import cucumber.api.testng.CucumberFeatureWrapper;
import cucumber.api.testng.PickleEventWrapper;
import cucumber.api.testng.TestNGCucumberRunner;
//import org.junit.runner.RunWith;
import org.testng.IRetryAnalyzer;
import org.testng.ITestResult;
impo

[2019-06-10 20:37] murali4624 commented on #116
[code]

I think I figured this out. Added the above plugin and those tests are skipped.

[2019-06-10 20:37] #116 closed

[2019-06-11 17:16] BalurQA commented on #73
@laxersaz  : I am also facing the same issue. Could you please look into the logs let us know the fix

I am using version 1.6.5.

my system details are like below

Windows 10
JDK 11.0.2
Cucumber : 3.0.2
maven 3.6.2

"C:\Program Files\Java\jdk-11.0.2\bin\java.exe" "-Dmaven.multiModuleProjectDirectory=C:\Users\QAUser\Documents\WebUI\UI Interface React\Express-001_1-master\public\automation_suite-mas

[2019-06-12 07:48] laxersaz commented on #73
Is this the correct path to the json file?
`C:\Users\QAUser\Documents\WebUI\UI Interface React\Express-001_1-master\public\automation_suite-master-a2c51fdd844634e18c253d54f99d6bb472b2b80c/target/test-output/reports`

Without any more information (like the actual json contents) it is hard to know what's going on.

Have you tried running it with -e to see the complete stack trace?
Also, please use c

[2019-06-12 17:16] BalurQA commented on #73
Yes that is the path for JSON in pom.xml

`![image](https://user-images.githubusercontent.com/32229011/59371853-1a342c80-8d14-11e9-88ce-f2b304696d10.png)`

Will give a try running with -e and will share you the complete logs if the issue still persist

[2019-06-13 06:00] yuraku commented on #88
Thanks, @laxersaz for your reply. I've tried your suggestion and it seems doesn’t work for me, please see screenshot.
https://prntscr.com/o16zs8
Also about the parameter flag `-D`, do you mean that it will not work in case of multiple tags, or even a single one, like `-Dincluded='@footer'`

[2019-06-13 06:45] laxersaz commented on #88
You are using an outdated Cluecumber version which doesn't support tag expressions yet. Please check your version.

[2019-06-17 20:35] DeChrish opened #117 "parallelization mode "features" with TAGS"
**Is your feature request related to a problem? Please describe.**
I have multiple feature files, and need to execute @regression tag, Most features used same test data, so we cannot run by scenarios;

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solut

[2019-06-18 07:36] laxersaz commented on #117
Sorry I don't understand your situation. What do you mean with "Most features used same test data" - how is this defined? And why can't you use scenarios?
Maybe you can post an example feature file.

[2019-06-20 03:29] DeChrish commented on #117
@laxersaz We are doing data setup before each scenario and will update the data in between steps. And we are using the same data in multiple scenarios. So if we run in parallel we might get into data issues. So we grouped the scenarios in a feature file so that we can run in test in parallel by feature, so when we run in parallel we will not encounter data issues.

Now we need to split parallel by

[2019-06-20 03:32] DeChrish opened #118 "Can we use surefire plugin? We are using a open source framework, where surefire plugin is used to execute the test."
**Is your feature request related to a problem? Please describe.**

Currently when we split the features, the class file is created without extension.

**Describe the solution you'd like**
When we split, plugin should create runner with extension in the folder

<img width="473" alt="CurrentState" src="https://user-images.githubusercontent.com/6211294/59816645-c4dabb00-92d1-11e9-9661-3ed7c20db749.p

[2019-06-23 19:33] laxersaz commented on #118
Hi! I don't understand what you mean. The java classes are never shown with a `.java` extension in IntelliJ. Also, this description does not really match the title of this issue. Can you share some more details to clarify this?

[2019-06-23 19:34] laxersaz commented on #117
You can just filter for tags in your Cucumber runner while running the generated features.

[2019-06-25 16:03] murali4624 opened #119 "When you run in parallel using cucable, will it run in separate threads or separate jvm process ?"
Note: This is a question and not a bug/feature.

I am using cucable to generate separate scenario files and runner files and running them in parallel using testng. I would like to know when you run in parallel using cucable, will it run in separate threads or separate jvm process (using maven failsafe)?

My goal is to share data (confit data) between threads while running in parallel. What will be

[2019-06-25 17:02] laxersaz commented on #119
This is unrelated to Cucable as it does not run the tests. When you use failsave you can configure it to run in threads inside the same jvm or completely separate jvms.

[2019-06-25 17:02] #119 closed

[2019-06-25 17:08] murali4624 commented on #119
Thanks @laxersaz . Can you please point me out on How I can modify it to execute on threads in one jvm?

[2019-06-25 17:10] laxersaz commented on #119
Please check the failsafe documentation for this.

[2019-06-25 17:20] murali4624 commented on #119
Thank you. Will do.

[2019-06-25 18:24] murali4624 commented on #119
Thank you. Will do.

[2019-06-25 18:59] DayGitH opened #120 "How to keep logs separate for parallel tests?"
Currently when I run tests in parallel, it is very difficult to perform troubleshooting because the logs from all the parallel tests get mixed together in the terminal. Is it possible to separate out logs from each test scenario?

[2019-06-25 20:20] laxersaz commented on #120
Hello! Since Cucable does not run tests or logs, this question is unrelated to this project.

[2019-06-25 20:20] #120 closed

[2019-07-01 06:05] Naumansh opened #121 "[TestNG] Reporter org.testng.reporters.JUnitReportReporter@55f616cf failed"
**Describe the bug**
There appears to be some problem with execution using maven failsafe plugin as i see the subject error on executing the tests.
Plugin in POM are as below:
    <build>
        <plugins>

            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <configuration>

[2019-07-01 08:18] laxersaz commented on #121
[code]

Seems to be a problem with your test framework or the test you are trying to run. Cucable just prepares the test resources and has nothing to do with running the tests.

[2019-07-01 14:08] Naumansh commented on #121
Thanks man for responding back.

I doubt its framework problem as the execution fails even before reaching out to the framework. **The test at this stage has no step implementation and is supposed to generate gherkin step skeletons**. Also below message is coming up from failsafe somehow as TestNg is no where used as well and we can see some strange information in console as below:
[TestNG] Report

[2019-07-01 15:33] laxersaz commented on #121
Have you tried the Cucable example project and does it work for you?
If a test cannot find the step implementation that could indicate that the glue path is incorrectly set. But again, this is not related to Cucable as it just prepares test resources, nothing else.
Have you had a closer look at the runners and features that Cucable generated and checked if those are correct?

[2019-07-01 16:56] Naumansh commented on #121
So currently i didn't add any reporting at all. I am just trying to make sure that the basic structure is working fine before plug in anything else.

Below is the snippet of Runner class generated in parallel folder inside target
RunWith(Cucumber.class)
@CucumberOptions(
        glue = "src/test/java/sba/sbir/steps",
        features = {"target/parallel/features/login_scenario001_run001_IT.feature

[2019-07-01 17:00] Naumansh commented on #121
Ok. I got the culprit. I have to use cucumber java dependency instead of cucumber jvm.
Thanks a lot man for your time.

[2019-07-01 17:00] #121 closed

[2019-07-01 18:18] laxersaz commented on #121
Cool!

[2019-07-08 07:48] laxersaz commented on #118
Closed due to no reaction.

[2019-07-08 07:48] #118 closed

[2019-07-08 07:48] laxersaz commented on #117
Closed due to no reaction.

[2019-07-08 07:48] #117 closed

[2019-07-08 07:49] laxersaz commented on #111
Did you find anything regarding this issue? Because I could not reproduce it :-(

[2019-07-09 04:53] Naumansh opened #122 "How to glue two different packages ?"
I have two different step definition packages. I am trying to glue them as below:
@RunWith(Cucumber.class)
@CucumberOptions(
        glue = {"automation/bots/bdd,sba/sbir/steps"},
        features = {"target/parallel/features/[CUCABLE:FEATURE].feature"},
        plugin = {"pretty", "html:target/Automation-Report/Cucumber-report","json:target/cucumber-report/cucumber.json"},
        monochrome = tr

[2019-07-09 07:17] laxersaz commented on #122
Hi! This is unrelated to Cucable as it just generates the runner classes from your template. Please check the according Cucumber documentation.

[2019-07-09 07:17] #122 closed

[2019-07-09 13:54] Naumansh opened #123 "Running Incorrect Tag"
**Running Incorrect Tags**
All scenarios are executed one by one instead of the specific tag that is supposed to run.

**Steps**
1- Run scenario @validLogin3 using mvn clean verify -Dtags=@validLogin3
2- All 3 scenarios get executed one by one starting from first one.

**Highlighted areas to specifically look in shared consoles logs**

Feature File: (Containing test scenarios to test this issue)

[2019-07-09 14:04] Naumansh commented on #123
Sorry about the bad formatting... I have no clue why it's getting changed to this bad formatting after saving.

[2019-07-09 15:19] laxersaz commented on #123
Please use github's code formatting with three back (`) ticks before and after your code:
[code]

`tags` is not a Cucable option. To run specific tags with Cucable, you need to use the option `includeScenarioTags` as explained in the documentation: https://github.com/trivago/cucable-plugin#includescenariotags.

Also it is a good idea to use the example project first in order to understand Cucable'

[2019-07-09 15:19] #123 closed

[2019-07-09 15:46] Naumansh commented on #123
Are you suggesting me to using scenarios names inside my pom ?
I am specifying
<includeScenarioTags>${tags}</includeScenarioTags>

Where tags is only something i am passing from my maven command with -Dtags=@myScenario.
How is it wrong ?

[2019-07-09 15:48] Naumansh commented on #123
[code]

[2019-07-09 15:52] laxersaz commented on #123
You are overriding your `includeScenarioTags` in the line directly under it:

[code]

So this is ALWAYS running
[code]

[2019-07-09 16:05] Naumansh commented on #123
So i my understanding from your description is that if there is a tag that i want to skip during smoke or regression execution i need to specify it as ```<includeScenarioTags>not @wip</includeScenarioTags>```
This is really confusing parameter.

I have tried with with excludeScenarioTags but i see its not a configuration parameter.

And yes once i removed ```<includeScenarioTags>not @wip</includeS

[2019-07-09 20:36] laxersaz commented on #123
Everything about inclusion and exclusion of tags is answered in the documentation, complete with examples: https://github.com/trivago/cucable-plugin#includescenariotags

[2019-07-10 03:14] Naumansh commented on #123
Agreed. And thats why i raised this question.

The documentation states as below
parallelizationMode
By default, Cucable uses the parallelizationMode = scenarios meaning that feature files are split into individual scenarios that each have a dedicated runner.

Sometimes it may be desirable, to parallelize complete features. When setting the parallelizationMode = features, only complete features co

[2019-07-10 05:09] Naumansh commented on #123
[code]

[2019-07-10 05:29] Naumansh opened #124 "Problem in running multiple tags from maven command line"
**mvn clean verify -Ddevice=chrome  -Dtags=@validLogin2,@validLogin3**

I have been using the above way to run tests using tags. Same is suggested by you in an older issue https://github.com/trivago/cucable-plugin/issues/41.

However when multiple tags are added, tests are not running without any error. Below is the snipped of config in pom.

[code]

[2019-07-10 08:14] laxersaz commented on #123
Well, this is a leftover in the documentation from the old version of Cucable. I will adapt it now - thanks for noticing!
Cucable uses Cucumber expressions since version 1.5.0 and I removed the unneeded `excludeScenarioTags` parameter because of this. Cucumber expressions support tag exclusion, inclusion and any combination of those.

[2019-07-10 08:23] laxersaz commented on #124
This is not how multiple tags need to be added. The correct approach from version 1.5.0 on is

[code]

because it uses Cucumber expressions.

[2019-07-10 13:45] Naumansh commented on #124
Thanks man.

1- It is still not running with "-Dtags="@validLogin2 and @validLogin3"" above shared configuration. i.e  ```<includeScenarioTags>${tags}</includeScenarioTags>```

2- However if the above tag is removed. The scenarios starts to execute but below ugle logs are generated first.
**Console Logs:**
[INFO] Running TestSuite
[TestNG] [ERROR] No test suite found. Nothing to run
Usage: <main c

[2019-07-10 13:47] laxersaz commented on #124
Hi! You probably should ignore your TestSuite class in the failsafe options when invoking your test run.

[2019-07-10 13:52] Naumansh commented on #123
Make sense. So, i can use -Dtags="@test1 and not @test2" to skip @test2

[2019-07-10 15:08] Naumansh commented on #124
I tried below but still getting same logs
[code]

[2019-07-10 15:11] Naumansh commented on #124
I know its not related to cucable but i would really appreciate your suggested solution on it.

[2019-07-11 16:30] skAutomation12 opened #125 "Ref: Execution"
Here s the Setup in POM File:
[code]

The above setup is helpful in generating runners and features in target with the command line:
mvn clean integration-test
or MVN clean verify

But doesnt start the test; I mean the actual parallel testing. Please suggest or correct me; Your feedback is highly appreciated.

Also tried command: mvn clean install org.apache.maven.plugins:maven-failsafe-plugin:int

[2019-07-12 03:32] Naumansh opened #126 "List Of Issues - Migrating to Cucable from teymers"
Hi,

I have been lodging my issues on this repository from last few days since i have been trying to migrate from teymers to cucable but the problems are not ending. So sharing a list of problems as below:

1- I am running the tests using maven (Pom configuration below) , However after execution of a test case i never see standard Cucumber console information of test completion which shows some th

[2019-07-12 03:35] #124 closed

[2019-07-12 07:18] laxersaz commented on #124
Closing this as it is not related to Cucable.

I'm sorry but I am not an expert in testng. Maybe there's something here? https://stackoverflow.com/questions/50132094/no-test-suite-found-nothing-to-run-but-testng-xml-running-properly-from-eclip

[2019-07-12 07:28] laxersaz commented on #125
Hello there!
What error message do you get?
Does the example project work for you?
It is always a good idea to take this and build on top of this.

[2019-07-12 07:36] laxersaz commented on #126
Hello,

honestly, it is a little strange that you keep on posting the same issues multiple times. Once would be enough. This also makes it harder to tackle them individually.
Another thing is that many of your issues are unrelated to Cucable itself but your test framework/setup. This is nothing I can really help with without having a complete project from you.
Please make sure the Cucable example

[2019-07-12 08:10] skAutomation12 commented on #125
Example project was helpful. But I'm getting build success with all the
runners and scenarios generated in targets; it doesn't continue with the
situation suite. Just says there are no test to run .

I used the*_IT in my command so it can pick it up.

Please help.

On Fri, Jul 12, 2019, 2:28 AM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-07-12 08:17] laxersaz commented on #125
Does the test project run the tests when you invoke it with `mvn clean verify`? Because this is the way it should be run.

[2019-07-12 08:43] skAutomation12 commented on #125
Nope. Just generate. When I connect cluecumber coffee that I added for
parallel they run just fine.

On Fri, Jul 12, 2019, 3:17 AM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-07-12 09:26] laxersaz commented on #125
If you don't get this output from the test project then something is wrong with how you run it, I believe. This is what it should look like:

![image](https://user-images.githubusercontent.com/5775857/61117898-da3da200-a497-11e9-904e-04be27638fd8.png)

[2019-07-12 09:42] skAutomation12 commented on #125
If you don't mind me asking. Please share this example project as
downloadable link. I will try in my local.

And thank you again for your timely response.

On Fri, Jul 12, 2019, 4:26 AM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-07-12 09:45] laxersaz commented on #125
You can just download it from github with the download button:
![image](https://user-images.githubusercontent.com/5775857/61119136-7b2d5c80-a49a-11e9-9383-7958eeb275c7.png)

It is included in the source code under `example-project`

[2019-07-12 17:30] Naumansh commented on #126
Thanks for such helpful response. I will take care of it.

[2019-07-12 17:30] #126 closed

[2019-07-15 18:00] skAutomation12 commented on #125
Thank you for the below eample; I was able get parallel runners and features generated in target; But Webdriver wont start the test using them as input; I would highly appreciate your help if yo u a design or framework where you were able to pass driver to create multiple instances

[2019-07-16 02:26] josepj opened #127 "Group scenarios whose names match REGEXP together"
When `parallelizationMode = scenarios`, group scenarios whose names match `REGEXP` together, in  the same runner file if possible (inspired by `cucumber.options="--name REGEXP"`).

**Use Case:**
I have a scenario where different types of users need to be tested for different capabilities (capabilities can be anything, for example, presence or absence of UI elements depending on the logged in user)

[2019-07-16 07:37] laxersaz commented on #125
Hi, as Cucable runs before your test framework, this is outside the scope of this plugin. Unfortunatelly I cannot help you with a framework since we use a completely custom one that I can't share.
All I can say is that we are running the tests via Failsafe's multiple forks which is essentially spinning up multiple test frameworks in parallel. This way we don't have to worry about one framework ins

[2019-07-16 11:16] laxersaz commented on #127
Interesting idea although to me it seems like a very special case you have there. Would you be able to prepare a pull request for this?

[2019-07-16 13:41] josepj commented on #127
Special case indeed! 😄
I am pretty much swamped with developing tests for the same app described above (7x combinations for each test). But I will see if I can find some time over the coming weekends.

[2019-07-16 15:44] Naumansh opened #128 "Scenario RunTime in Seconds instead of MS"
When viewing a scenario in the report the "Step Result" graph displays the step runtime in milliseconds.

It would be more helpful, in my opinion, if it was reported in seconds, and the y-axis label were updated to "Step Runtime (seconds)".

[2019-07-16 15:45] Naumansh opened #129 "Overcounting of step usage in All Steps - Report"
Under the "All Steps" tab of the report the "Step Summary Result Chart" y-axis is marked as "Number of Scenarios".  This would imply that it is showing how many scenarios a step is used in.  However, if a step is used multiple times in a scenario it is counted multiple times, leading to unexpectedly skewed data.

Possible Solutions:
   Each step should be counted once for each scenario
   The y-ax

[2019-07-16 16:00] Naumansh opened #130 "Multiple tags execution Issue from maven"
**Summary**
Old reference: https://github.com/trivago/cucable-plugin/issues/124
I amf facing the problem as described below:
1- <includeScenarioTags>${tags}</includeScenarioTags> works fine with single scenario but doesn't work if multiple tags are passed like -Dtags="@validLogin2 and @validLogin3",it leads to generation of runners without execution.
2- If i remove <includeScenarioTags>${tags}</in

[2019-07-17 03:17] josepj commented on #127
@laxersaz, I have been thinking about this and here is a rough outline of an idea using custom template placeholders, `[CUCABLE:CUSTOM:xxx]` and `name` option in `@CucumberOptions`.

Define the `REGEXP`s as custom values. Using the example above:
[code]

Now generate 3 (count equal to the number of strings defined) runner files as below, including `name` in `@CucumberOptions`.
[code]

The split fe

[2019-07-17 09:39] laxersaz commented on #129
This is not a Cucable issue. Please open it in the Cluecumber repository.

[2019-07-17 09:39] #129 closed

[2019-07-17 09:39] laxersaz commented on #128
This is not a Cucable issue. Please open it in the Cluecumber repository.

[2019-07-17 09:39] #128 closed

[2019-07-17 09:40] laxersaz commented on #111
Closed due to no reaction.

[2019-07-17 09:40] #111 closed

[2019-07-17 12:00] laxersaz commented on #130
Hi! Did you mistype `-Dtags=-Dtags="@validLogin2 and @validLogin3`? Because this sets the tags property to `-Dtags="@validLogin2 and @validLogin3`.

[2019-07-17 12:24] Naumansh commented on #130
@laxersaz thats a type . sorry about that. updated !!

[2019-07-17 12:26] Naumansh commented on #129
Sorry about that. its my bad.

[2019-07-17 13:54] laxersaz commented on #130
I have some questions:
- Do the generated runners look ok? Because if they do and they are not being executed, this is a problem of your test framework or failsafe configurations.
- What happens if you don't pass any tags? Are the generated runners executed?
- Do you actually have any scenarios that are tagged with `@validLogin2` __AND__  `@validLogin3`?

[2019-07-17 13:55] laxersaz commented on #127
It is an interesting approach indeed. I cannot really judge if this works as intended without trying though.

[2019-07-17 14:12] Naumansh commented on #130
--> answering your question from the implemented framework instead of a sample one as below:

**Do the generated runners look ok? Because if they do and they are not being executed, this is a problem of your test framework or failsafe configurations.**

command: mvn clean verify -Dtags="@validateChangeinTaskMenuSequence-gHome and @validateSidebarTaskMenuRemoval-gHome"

So here is the console log a

[2019-07-17 14:38] josepj commented on #127
I just tried a simple test by adding `name = string1` to the runner template and executing 4 tests with `desiredNumberOfRunners` set to 2. `string1` matches only a single test out of 4. 2 runners were generated, one of them executed 0 tests and the other executed the test matching `string1`. So it seems to work as expected.

[2019-07-17 14:52] laxersaz commented on #130
In your first example, no scenarios seem to match. So naturally, there is nothing to run.

[2019-07-17 14:54] laxersaz commented on #127
Can this be closed then?

[2019-07-17 14:55] Naumansh commented on #130
Yes. So what is the possible fix for it ?

[2019-07-17 14:56] laxersaz commented on #130
Can you provide an example feature file for me to test this?

[2019-07-17 14:58] Naumansh commented on #130
here is the feature file and tests

@sidebar-component @regression
Feature: Side bar Component Scenarios
  Test all sidebar component based scenarios
  As a configuration manager i make different configurational changes in side bar component and will validate them.

  @33877    @validateChangeinTaskMenuSequence-gHome
  Scenario: validate after changing sequence of task menu from second to third in

[2019-07-17 15:00] laxersaz commented on #130
You are asking Cucable to generate scenarios that match 2 tags. But none of your scenarios match your tag expression. So Cucable will generate no scenarios.
The __and__ keyword means: match scenarios that include __both__ of the provided tags only.

[2019-07-17 15:01] laxersaz commented on #130
So if you want to match __either__ tag, you need to use __or__.

[2019-07-17 15:04] Naumansh commented on #130
-Dtags="@validateChangeinTaskMenuSequence-gHome and @validateSidebarTaskMenuRemoval-gHome"

I cannot understand how these two tag names are not matching ? i have these two tags on each of the above shared tests.

[2019-07-17 15:07] laxersaz commented on #130
The first scenario has the tags `@33877` and `@validateChangeinTaskMenuSequence-gHome`.
The second scenario has `@33876`, `@validateSidebarTaskMenuRemoval-gHome` and `@smoke`.
In your tag expression you are asking for `@validateChangeinTaskMenuSequence-gHome and @validateSidebarTaskMenuRemoval-gHome`.
So you have no matches.

[2019-07-17 15:13] Naumansh commented on #130
One test can have different tags which are independent of each other. Thats how is always been working with it from long.

Are you saying that if we have multiple tags on a test then it will be considered as consolidated 1 tag expression instead of individual tag ? It's a new thing for me though as we often have multiple tags for scenarios for grouping them during execution.

If that's so then can

[2019-07-17 15:15] Naumansh commented on #130
oh i think what you are saying that with **and** we can only specify tags of the same test ? right ?

[2019-07-17 15:16] Naumansh commented on #130
My question is how can i run two or three tests through maven command ?
like -Dtags=@test1,@test2,@test3

[2019-07-17 15:16] laxersaz commented on #130
Of course you can still use individual tags - I even told you how :-). This is also stated in the documentation: https://github.com/trivago/cucable-plugin#includescenariotags

If you want to include scenarios that are tagged with `validateChangeinTaskMenuSequence-gHome` or scenarios that are tagged with `validateChangeinTaskMenuSequence-gHome `, you need to specify your tag expression like so
`@va

[2019-07-17 15:18] Naumansh commented on #130
Got it.
So to achieve  **-Dtags=@test1,@test2,@test3** i should do  **-Dtags=@test1 or @test2 or@test3**
correct ?

[2019-07-17 15:19] laxersaz commented on #130
Exactly!

[2019-07-17 15:19] Naumansh commented on #130
oh man...Thanks a lot. My bad i couldn't understand that it properly..Cheerz!!!

[2019-07-17 15:19] #130 closed

[2019-07-17 15:20] laxersaz commented on #130
No worries :-)

[2019-07-18 05:49] josepj commented on #127
No @laxersaz. The runner files still have to be generated and the strings added to them, 1 string per runner. Also, `[CUCABLE:FEATURE].feature` has to be trimmed from `features = {}`.

If I have this list:
[code]
3 runners have to be generated as below:
[code]
[code]
[code]

[2019-07-19 19:48] #125 closed

[2019-07-22 02:36] josepj commented on #127
@laxersaz, I have started working on this.

[2019-07-23 17:58] josepj commented on #127
@laxersaz, I implemented [this](https://github.com/trivago/cucable-plugin/issues/127#issuecomment-512674326). But during my testing, I found that this will work as expected only when no cucumber options are passed from the command line (`-Dcucumber.options`), as `cucumber.options` passed from the command line completely override those mentioned in the runner class (per this [thread](https://groups

[2019-07-27 14:48] josepj commented on #127
@laxersaz, I have completed the work on this one. Please review the [PR](https://github.com/trivago/cucable-plugin/pull/131) you get a chance.

[2019-07-29 16:33] Srinivasaraor opened #132 "Cucable-Run into error with failsafe dependency upgrade"
**Describe the bug**
i have default(sequential) and Parallel(cucable) profiles configured in my maven project. when i upgrade failsafe dependency above 2.18 i am running into below error with parallel profile
**:((The filename, directory name, or volume label syntax is incorrect)**).

I am not sure if it is some thing to do with cucable or my project structure , Please throw some light on this pro

[2019-07-29 16:37] laxersaz commented on #132
Sorry I am afraid I can't help with this as this is unrelated to Cucable. Actually, we also use Failsafe 3.0.0-M3 for parallel execution of the generated runners and features and don't have problems.
This is something that is definitely related to your project structure / settings.

[2019-07-29 16:41] Srinivasaraor commented on #132
Thanks for quick response  (Closing this issue (Not related to cucable)

[2019-07-29 16:41] #132 closed

[2019-07-30 14:37] josepj opened #133 "Disallow property combination scenarioNames and parallelizationMode = features"
The option `scenarioNames` will not work as expected when `parallelizationMode` is set to `features`. This is especially true when the feature file has scenario outlines.

Would adding a check to disallow property combination `scenarioNames` and `parallelizationMode = features` suffice? I cannot think of a scenario where this combination is absolutely required that `scenarioNames` and `paralleliza

[2019-07-31 06:56] laxersaz commented on #133
That makes sense :-)

[2019-07-31 14:14] FloKaemmerer opened #134 "Report parallel Features in a single Reportfile"
**Is your feature request related to a problem? Please describe.**
When Running Features in parrallel mode while using the cucumber json-Plugin I endup with a json file for every feature file.
My Runner configuration looks something like this:
[code]
This is fine and works as expected.

But in my case I need to have a single Reportfile that contains all the run features.
currently I merge the repo

[2019-07-31 15:29] josepj commented on #133
@laxersaz, the text of the exception has `In parallelizationMode = FEATURE, you cannot specify xyz`.  Would it be better to say `In parallelizationMode = features`, as a user will specify `features` or `scenarios`?

[2019-08-01 08:24] laxersaz commented on #134
Hi! Your configuration creates a separate json file due to your configuration:
`plugin = {"json:target/cucumber-report/[CUCABLE:RUNNER].json"},`
Here you say that Cucable should configure Cucumber to take the runner name as the name of the json file.

So you could try to do this (however, you might run into concurrency problems when writing to one file by multiple threads):
`plugin = {"json:target

[2019-08-02 06:55] FloKaemmerer commented on #134
ok, exactly like I expected, thanks anyway :-)

[2019-08-02 06:55] #134 closed

[2019-08-03 15:01] laxersaz commented on #133
Yes that's true!

[2019-08-03 19:12] josepj commented on #133
Thanks @laxersaz. I have updated the PR.

[2019-08-07 06:06] #133 closed

[2019-08-10 21:16] josepj opened #136 "Wrong scenarioNames link in README"
I added the link to my fork. Sorry!

[2019-08-15 18:02] #136 closed

[2019-08-15 18:09] laxersaz commented on #127
It seems like there is still a bug in the implementation. When I use "Scenario 1, Scenario 2", it will also include "Scenario 3".

[2019-08-16 01:00] josepj commented on #127
@laxersaz, thanks for checking. I will take a look.

Was `Scenario 1, Scenario 2` the specific values that failed, or was that an example? Can you also send me the lines starting with `Scenario:` and the scenario descriptions (if any) in the split feature files please?

[2019-08-16 02:43] josepj opened #138 "scenarioNames will fail when a feature file has Example: in place of Scenario:"
Reference - [cucumber.io > Example](https://cucumber.io/docs/gherkin/reference/#example)
[code]

[2019-08-16 04:08] josepj commented on #138
Looks like `Example` keyword was introduced in [Gherkin v6.0.13](https://github.com/cucumber/cucumber/blob/master/gherkin/CHANGELOG.md#6013---2018-09-25). Cucable is using 5.1.0.

[2019-08-16 07:22] laxersaz commented on #127
I used this in the Cucable example project. You can try it out with the current one from master.

[2019-08-16 07:25] laxersaz opened #139 "Upgrade to Gherkin 6.x to support "Example", "Rule" etc."

[2019-08-16 07:26] laxersaz commented on #138
I created the issue #139 for this. Thanks!

[2019-08-16 07:26] #138 closed

[2019-08-17 03:42] josepj commented on #127
@laxersaz, I executed the example project with `scenarioNames` specified as `Scenario 1, Scenario 2`.
2 runners were generated, one with 6 feature files matching `Scenario 1` and the other with 2 feature files matching `Scenario 2`. I do **not** see `Scenario 3` included.
[code]
Runner 1 - `Scenario 1`
[code]
Runner 2 - `Scenario 2`
[code]
Can you please let me know the steps you performed when yo

[2019-08-18 19:09] yuraku commented on #88
thanks for you reply. After update started working 👍🏻

[2019-08-19 09:11] laxersaz commented on #127
You are right. However, I was thrown off by the `Cucable created 30 separate feature files and 2 runners.`
Shouldn't it only generate the features that match?

[2019-08-19 09:13] laxersaz opened #140 "Generate only features without runners for Cucumber 4 native parallel runs"

[2019-08-19 16:58] josepj commented on #127
Currently, the matching of `scenarioNames` happens after all the individual feature files are generated. I thought this will be the way to support a `Scenario Outline:` when the user specifies a value in the `Scenarios:` table in the scenario name (as seen in the original [description](https://github.com/trivago/cucable-plugin/issues/127#issue-468414779)).

Do you think the matching should happen

[2019-08-19 18:06] laxersaz commented on #127
I think this would be much less confusing for users to have just the matching feature files generated 😏

[2019-08-20 07:23] laxersaz commented on #127
You can take a look at the `scenarioShouldBeIncluded()` method in the `GherkinDocumentParser`. This does a similar thing for tags :-)

[2019-08-20 14:31] josepj commented on #127
Thanks @laxersaz. I will try to work on this over the weekend (if not earlier).

[2019-08-26 04:38] josepj commented on #127
This is mostly done. I will add tests and create a PR tomorrow.

[2019-09-04 15:04] #127 closed

[2019-09-13 11:32] VikTri05 opened #142 "Getting an error while running mvn verify for the runner class name: public class [CUCABLE:RUNNER]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a scenario with...
2. Run Cucable
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Attachments**
If applicable, add an attachment to help explain your problem.

**Additional context**
Add any other context about

[2019-09-18 12:30] boris779 opened #143 "Grouping scenarios to prevent that scenarios from a group runs at the same time"
---
name: Grouping by tags (and run this group serial)
about: It would be great if it would be possible to specify that one group of scenarios will run on the same Runner. (via cucumber tags)

---

**Is your feature request related to a problem? Please describe.**
We have some scenarios which should not run in parallel at the same time. Switching to feature-base parallelization does not allow to u

[2019-09-18 15:46] laxersaz commented on #143
I will look into this request next week - I am currently on holidays 🙂

[2019-09-30 08:09] boris779 commented on #143
A solution could be parallelization mode to scenarios and allow excluding with tags --> remove all @exluded scenarios from the runners.
Another approach could be to add a parameter for include/exclude tagged features (not scenarios)
Last idea from my side: add a parameter for a group-prefix (e.g. group) and all scenarios with the same group-tag (e.g. @group_a) are running on the same runner or are

[2019-09-30 08:26] laxersaz commented on #143
Interesting ideas, @boris779 - I will consider those as soon as I have a little more time on my hands again.

[2019-09-30 08:45] boris779 commented on #143
If I can contribute let me know.

[2019-10-07 12:22] sgrillon14 opened #144 "How to set systemPropertyVariables?"
I want use your plugin instead of `maven-surefire-plugin`.

I need add system properties variables (`options` and `resourcespath` in this sample)

[code]

[2019-10-07 12:32] sgrillon14 commented on #144
I add `systemPropertyVariables` in `maven-failsafe-plugin`

[2019-10-07 12:32] #144 closed

[2019-10-09 13:25] boris779 opened #145 "Tagging Outlines results in too many tags in feautres"
**Describe the bug**
When using Scenario Outlines (Szenariogrundriss) the generated features has the tags multiple times

**To Reproduce**
Steps to reproduce the behavior:
Example Feature:

\# language: de
\# encoding: utf-8

\@ smoke \@ mobile \@ Antrag
Funktionalität: Antrage ausfüllen

  \@ resetData
  Szenariogrundriss: Öffnen von Anträgen
    Angenommen die Startseite ist als "Max" geladen

[2019-10-11 13:38] laxersaz commented on #145
Oh, this sounds like a bug. I will need to check this. Thanks for reporting.

[2019-11-04 09:57] AdamPike commented on #142
@VikTri05 We also found this part of the README did not work. Fixed the problem by giving the runner class a legitimate name that matches the file name.

[2019-11-04 10:59] AdamPike opened #146 "Compile error - Runner class names don't match their file names"
**Describe the bug**

I've found that this issue is only reproducible when there is more than 1 feature with the same name but with different casing. This isn't a problem for Cucumber though, only this plugin.

Running the Cucable plugin with default parallelizationMode = scenarios, the runner classes created with names based on the feature files have different casing than their file names causing

[2019-11-05 08:18] laxersaz commented on #142
If the template is a java class (and not a text file), the correct class name should be used, not the placeholder.

[2019-11-05 08:23] laxersaz commented on #146
Thanks for reporting. This indeed sounds like a bug and I will address this in the next release.

[2019-11-05 17:20] smekapati commented on #83
Hi I am getting the same issue
Failed to execute goal com.trivago.rta:cluecumber-report-plugin:1.8.1:reporting (report) on project digital_bdd_cucumber: Unable to traverse JSON files in C:\Application\digital_bdd_cucumber\target/cucumber-parallel ->

its working fine in my colleague machine , I deleted my POM and .m2 repository taken his POM and .m2 repository and updated in my system, still facin

[2019-11-08 04:08] Naumansh opened #147 "Running Cucumber feature file doesn’t generate step definitions"
**Describe the bug**
When a new step is implemented in a feature file. The step definitions is not generate for that step and it shows the execution is skipped.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new step in feature file
2. Run the scenario taf
3. [WARNING] Tests run: 1, Failures: 0, Errors: 0, Skipped: 1, Time elapsed: 8.896

**Expected behavior**
The step definition s

[2019-11-08 08:00] laxersaz commented on #142
@VikTri05 does this help you?

[2019-11-08 08:01] laxersaz commented on #147
Hello @Naumansh , I am not sure what you mean. Cucable does not generate step definitions.
Can you explain this further?

[2019-11-08 08:05] laxersaz commented on #143
I will add that to the next release.

[2019-11-08 12:14] Naumansh commented on #147
hi @laxersaz The standard cucumber execution usually generates a skeleton step definition for any new step.
However, it is not happening with me. I might need to update some part of my cucuable settings as it is skipping the execution in case of any new step .

[2019-11-08 12:17] Naumansh commented on #147
Running hellocucumber.RunCucumberTest
Feature: Is it Friday yet?
  Everybody wants to know when it's Friday

  Scenario: Sunday isn't Friday        # hellocucumber/is_it_friday_yet.feature:4
    Given today is Sunday              # null
    When I ask whether it's Friday yet # null
    Then I should be told "Nope"       # null

Undefined scenarios:
hellocucumber/is_it_friday_yet.feature:4 # Sunday

[2019-11-08 13:14] laxersaz commented on #147
I think you are confusing Cucable and Cucumber. It sounds like your question is unrelated to Cucable.

[2019-11-08 13:18] laxersaz commented on #83
Are you sure your json file location is correct? And are there actually json files in there?

[2019-11-08 14:34] #147 closed

[2019-11-09 16:55] AdamPike opened #148 "Support CucumberOption tags in property includeFeatureTags"
**Is your feature request related to a problem? Please describe.**

Currently I have to set to lots of tag properties - 1 for cucumber via Cucumber Options, another for Cucable plugin.

**Describe the solution you'd like**

Check for --tags in the argument sent to setIncludeScenarioTags, and take everything after it minus any quotes.

**Additional context**

I have made this change locally and add

[2019-11-11 08:37] laxersaz commented on #148
Hello, usually there is no need to specify both Cucable's `includeScenarioTags` and cucumber options. The Cucable option filters which scenarios should be generated and the cucumber options filter which scenarios should be executed. So instead of using both, you could just use one.

[2019-11-11 11:13] AdamPike commented on #148
@laxersaz Thanks for the reply, I'll try and explain our use case a little better.

We have a large team of developers who are being coached on BDD, for many this is their first foray into the world of automated integration tests too. So we want as a low a barrier to learning as possible. To this end our Cucumber Maven project has 2 profiles, one for local development and another for CI execution.

[2019-11-11 12:10] laxersaz commented on #148
It is cool that you want to lower the barrier. However, having two separate profiles for CI and local is overhead in my opinion. We used to do it this way as well but eventually we changed everything to just one profile that can be used both locally and on CI.
This uses Cucable in both cases to specify the scenarios and runners to be generated.
The thing is that the Cucumber options and the Cucabl

[2019-11-11 14:44] AdamPike commented on #148
Hi @laxersaz, thanks for your thoughts. I am surprised that people set both differently. I can't imagine a situation that benefits from that. I guess from my perspective tags are a single property, I just have more than one actions from them, which is commonly the case for properties.

"If you want to keep both profiles, you could also define a property in your POM (e.g. tags) that is used as Cucu

[2019-11-12 08:36] AdamPike commented on #115
@DeChrish You can't directly use a Maven plugin in Gradle, you'd need to port across. Here's the documented on steps for migrating a project from Maven to Gradle: https://docs.gradle.org/current/userguide/migrating_from_maven.html

[2019-11-12 09:57] AdamPike commented on #148
No worries, I'll keep this on a fork for us to use https://github.com/AdamPike/cucable-plugin.
Let me know if you ever want it merged and I open a PR.

[2019-11-12 14:59] laxersaz commented on #115
We are currently in the process of working on the gradle implementation of Cluecumber. If this is successful, I will also do this for Cucable.

[2019-11-12 14:59] #148 closed

[2019-11-13 09:04] VikTri05 commented on #142
Hi Benjamin,

It helped. Thank you!

[2019-11-13 09:04] #142 closed

[2019-11-13 09:04] VikTri05 commented on #142
Satisfied with the response

[2019-11-14 12:22] boris779 commented on #143
What does it mean, how long will it take? I'm just asking because in our sprint which will start today (and takes two weeks) we have the story in our backlog to contribute that. Should we wait for your implementation or should we start and make a pull request. We should not do it twice :-)

[2019-11-14 12:28] laxersaz commented on #143
If you have this planned, you can contribute any time. I am struggling to understand your proposed solution #1 though:

[code]

[2019-11-20 21:44] vinoaravind opened #149 "pass feature file path and tag from Jenkins pipeline"
Hi,

I'm building a CICD pipeline and wondering how to pass featurefile path and tag from Jenkins Jobs. I'm using 'mvn Clean Install' command to trigger test from pipeline. Not sure what is the configuration to be done in pom.xml file to incorporate this.

[2019-11-21 12:06] laxersaz commented on #149
Hi! Just define your parameters in a `<properties>` block in your pom and pass them from jenkins via `-D` options to your maven call.

[2019-11-21 12:09] laxersaz commented on #149
Like so:
[code]

Then you can pass it to Maven like this:

[code]
and use it in your Cucable block in the pom file like this:
[code]

[2019-11-25 12:36] SungurOnur opened #150 "Utf-8 error for linux"
**Describe the bug**
**Platform:** Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-169-generic x86_64)
**Command:** mvn clean verify

**Source feature file:**
Feature: Login

@Login
  **Scenario**: Login
    Given Successful login
    _Then Username is **"İ"**_

**Generated Scenarios:**
`# language: en`
Feature: Login

@Login
**Scenario**: Login
Given Successful login
_Then Username is **"??"**_

**Error:** j

[2019-11-27 09:40] laxersaz commented on #150
Hello, I won't be able to look at it this week. Will have to move it to the next.

[2019-12-03 08:49] laxersaz commented on #149
Closed due to no reaction.

[2019-12-03 08:49] #149 closed

[2019-12-03 08:59] laxersaz commented on #150
Unfortunatelly I couldn't reproduce this since I am on mac os. There is works as expected. Did you also try it on another machine?

[2019-12-04 07:24] SungurOnur commented on #150
`Mac OS and Windows ` : 👍

Hi,
These functions doesn't work on linux.(For my case) Can u add an encoding parameter? Thanks.

` public void writeContentToFile(String content, String filePath) throws FileCreationException {
        try {
            FileUtils.fileWrite(filePath, content);
        } catch (IOException e) {
            throw new FileCreationException(filePath);
        }
    }`

// **

[2019-12-04 08:26] laxersaz commented on #140
not needed.

[2019-12-04 08:26] #140 closed

[2019-12-04 08:27] laxersaz commented on #115
There will be a bugfix release 1.6.0 of Cucable this year but the gradle version is not planned yet.

[2019-12-09 15:05] laxersaz commented on #150
Added to the upcoming release 1.6.0

[2019-12-09 16:20] laxersaz commented on #146
The expected behavior cannot be matched in operating systems that don't support the same filenames with different cases (e.g. Windows, MacOS). What would you expect there?

[2019-12-09 16:23] laxersaz commented on #145
Fixing for next release 1.6.0

[2019-12-10 08:43] boris779 commented on #143
As I said we did a spike in our sprint to see how cucable works and how we can implement the grouping with tags to prevent parallel runs with „grouped tagged“ Features. There are some possibilities we’ve discovered so far:

1.	First place
a.	We add an additional Maven Parameter which defines the „grouptags“
b.	When creating the Features a Kind of a Pair will be returned instead of only the feature

[2019-12-10 09:26] laxersaz commented on #139
Not needed at this point.

[2019-12-10 09:26] #139 closed

[2019-12-10 09:27] laxersaz commented on #115
Gradle version was declined as this project will be phased out in the near future.

[2019-12-10 09:27] #115 closed

[2019-12-10 09:28] #150 closed

[2019-12-10 09:29] #145 closed

[2019-12-10 09:52] laxersaz commented on #143
Hello @boris779 ,

after a lot of thinking about this project, I decided to make one final release (which should be out today) and then gradually phase out this project.

The reasons are:
1. Cucable is basically obsolete with Cucumber 5 being able to parallelize natively (even on Scenario level)
2. I need more time to concentrate on Cluecumber (apart from my regular work) as it is the more importa

[2020-01-26 11:45] laxersaz commented on #146
Closed due to no reaction.

[2020-01-26 11:45] #146 closed

[2020-01-26 11:46] laxersaz commented on #143
Closed due to no reaction.

[2020-01-26 11:46] #143 closed

[2020-03-09 09:22] sunnysachdeva99 opened #152 "Ability to run selected feature file for parallel execution"
**Describe the bug**
Currently, when  parallelizationMode = features, we need to provide a path to directory which has all the features. But there is no way where, one can pass selected feature files at run time to run in parallel

[2020-03-10 09:01] laxersaz commented on #152
You can specify selected feature files as well. This is also stated in the documentation:

https://github.com/trivago/cucable-plugin#sourcefeatures

There it says that you can either specify a path to a directory or one or multiple feature files like so

[code]

[2020-03-11 10:45] sunnysachdeva99 commented on #152
Thanks @laxersaz . I read that in documentation but how do I provide these feature file names from command prompt (in mvn command)

[2020-03-13 08:39] laxersaz commented on #152
Hello again, you can achieve that like this (in the Cluecumber Report Plugin documentation):

https://github.com/trivago/cluecumber-report-plugin#passing-properties-via-command-line

This way, you can pass properties from the command prompt.

[2020-03-17 20:50] Naumansh opened #153 "A Question: Maven Failsafe <threadCount> instead of <forkCount> for parallel run"
**Question**
As in the shared example project from Cucuable Readme, we use <forkCount> as a parameter to specify the number of threads we want to run for parallel execution. The issue with forkCount approach is that it create separate jvm instances according to the number of thread count which impacts the execution resources and also static contents of the test code.

The general approach is to us

[2020-03-18 10:46] laxersaz commented on #153
As Cucable does not run the tests but only slices the test resources, this is in my opinion more a question of Maven.
If you want to run the tests in threads, you should probably not have one runner per scenario but one runner per thread containing a list of tests. Cucable also supports this if - you can set a desired number of runners via the appropriate property and all scenarios are distributed

[2020-03-19 14:26] Naumansh commented on #153
@laxersaz  If parallel execution is completely in control of maven then why do we use below property in cucuable plugin:
<parallelizationMode>scenarios</parallelizationMode>

Also i agree maven runs and controls the execution but it does matter how are we configuring our key plugins in it. Now if you see that maven runs multi threads using <threadCounts> instead of <forkCount> actually but it does

[2020-03-19 14:40] laxersaz commented on #153
Maven runs the tests by using Surefire or Failsafe.
Cucable splits tests into smaller chunks and creates runners depending on your configuration (the `scenarios` mode splits every feature file into scenarios - so it is a splitting option, not a running option).
Have you tried my suggestion that I gave you in my last answer?

[2020-03-19 15:08] Naumansh commented on #153
Here is what the config after your suggestion: But its not running anything in parallel

[code]

[2020-03-19 15:24] laxersaz commented on #153
Does this run any tests?

[2020-03-19 15:31] Naumansh commented on #153
yes it does. So i specified -Dthreads=2 and gave 3 tags to run. It executed 3 tags but in sequence and not in parallel.

[2020-03-19 15:48] laxersaz commented on #153
So this setup should create two runner classes with multiple feature references inside.
I guess you have to try different combinations of options (also depending on the framework you are using), like `perCoreThreadCount false`.
I also noticed that you are not using the `parallel` option at all which might be the problem:
[code]

[2020-03-20 16:48] Naumansh commented on #153
i tried parallel with methods and it doesnt work at all. Same is suggested on cucumber official documents.
Trying with classes mess up everything.
Since parallel doesnt support runner or features so not sure.

[2020-03-23 11:47] laxersaz commented on #153
Can you point me to the official documents where this is mentioned?

[2020-03-23 13:41] Naumansh commented on #153
Please see here
https://cucumber.io/docs/guides/parallel-execution/

[2020-03-23 19:22] Naumansh commented on #153
Also there is one more problem:

When we add multiple tags to run like "@abc or @xyz" , cucumber runs them in separate threads even in sequence. However when we try to run them as parallel from maven surefire, we add fork parameter which is actually conflicting with cucumber default execution flow of multiple scenarios as well.

If you see below comment on from cucumber github issues, maybe you ca

[2020-03-24 07:54] laxersaz commented on #153
Then I would try it without Cucable and let Cucumber handle the parallelization. Or use Cucable to generate one runner that includes all needed features.
But this is all I can answer at this point as this question goes way beyong the scope of Cucable.

[2020-03-24 10:49] laxersaz commented on #152
Closing it for now.

[2020-03-24 10:49] #152 closed

[2020-03-24 10:50] laxersaz opened #154 "Support Cucumber re-run file as input"

[2020-03-27 17:02] Naumansh commented on #153
yeah unfortunately cucumber parallelization doesnt work with our plugin approach. But its ok i have managed to manipulate the forked jvms.

Just another small question before i close the thread is, can we create a runner or multiple runners for a single scenario? like i want to run scenario @123 for 40 times. Is there any configuration that help achieve it ? Thanks.

[2020-03-27 20:09] laxersaz commented on #153
Yes, just use `numberOfTestRuns` like so:
https://github.com/trivago/cucable-plugin#numberoftestruns

[2020-03-30 09:29] laxersaz commented on #153
Can this be closed now, @Naumansh ?

[2020-03-30 12:10] #153 closed

[2020-03-30 15:27] laxersaz commented on #154
Released in 1.7.0

[2020-03-30 15:27] #154 closed

[2020-04-06 15:43] prabhus06 opened #156 "compilation error is thrown when the feature name starts with a number"
**Describe the bug**
A clear and concise description of what the bug is.
When the feature file name is starting with a number then when the runner is generated it generated with the class name starting with number and hence throws compilation error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a scenario with... a feature file name starting with number
2. Run Cucable
3. See error

[2020-04-07 14:47] laxersaz commented on #156
Hello @prabhus06 ,
thanks for reporting this!

[2020-04-10 20:24] DeChrish opened #157 "[Question] Can we override GLUE"
We are sharing the cucable plugin via library, team has different glue methods. How they can use the common cucable template and use their own glue steps.

[2020-04-11 08:06] laxersaz commented on #157
You can use custom placeholders for this:
https://github.com/trivago/cucable-plugin#custom-template-placeholders---cucablecustomxxx

[2020-04-20 08:38] laxersaz commented on #157
Did this answer your question, @DeChrish ?

[2020-04-29 11:58] FloKaemmerer opened #158 "add "includeFeatureTags" as config Parameter. Same as "includeScenarioTags" but for Features"
**Is your feature request related to a problem? Please describe.**
We are currently running our Tests in `parallelizationMode=features.`

At the same time we pass a number of Tags to Cucumber wich controll what features are actually run. Something along the lines `-Dcucumber.filter.tags="@mandatory and not @inDevelopment and not @Ignore`

The Problem is that cucable generates a feature file and ru

[2020-04-29 12:47] laxersaz commented on #158
`includeScenarioTags` also considers feature tags already but only for `parallelizationMode=scenarios`. Internally, Cucable adds feature tags to each scenario in this mode to filter out non-matching scenarios based on the tag expression that is passed to Cucable.
Is there any specific reason why you need to use the `features` mode in your case?

[2020-04-29 12:48] laxersaz commented on #157
Closed due to no reaction.

[2020-04-29 12:48] #157 closed

[2020-04-29 13:36] FloKaemmerer commented on #158
Mainly because we had some Racecondition issues when using `scenarios`.

Secondly the way we postprocess the reports (the json reports created by cucumber) when using `scenarios` we would endup with an entry for every scenario as a feature in the report.

[2020-05-11 06:19] FloKaemmerer commented on #158
Any news on this? @laxersaz

[2020-05-28 18:41] boris779 opened #159 "Example Missing for Junit 5 & Cucumber 5.5"
Run a cucumber test with cucable and Junit 5

What I did:
1. Updated the dependencies
2. Edited the Template
3. run a mvn clean verify
4. Got Errors that my template has no [CUCABLE:FEATURE]

Used Dependecies:
junit-jupiter-api
cucumber-junit-platform-engine
cucumber-java
cucumber-java8

But with Junit 5 and cucumber 5.7.0 there are no cucumber Options

This is maybe only a documentation bug, coul

[2020-05-29 11:37] laxersaz commented on #159
`CucumberOptions` still exist in Cucumber 5.7.0 as far as I can see from the changelog: https://github.com/cucumber/cucumber-jvm/blob/master/CHANGELOG.md#570-2020-05-01.
Also, the message that `[CUCABLE:FEATURE]` is not included in the template is independent Cucumber and JUnit as Cucable runs before.

Could you share a minimal project so I can see what exactly you did?

[2020-06-18 00:01] boris779 commented on #159
Sorry for the late response.
I think the problem was that for the CucumberOptions I had to import io.cucumber.junit.CucumberOptions and add the dependecy io.cucumber-junit

I think it works now.

[2020-06-18 07:34] laxersaz commented on #159
Cool! If you have any more questions, just ping me!

[2020-06-18 07:34] #159 closed

[2020-06-23 18:38] mpujic opened #160 "Support for Background in feature"
**Is your feature request related to a problem? Please describe.**
I am having a lot of Background steps in my feature files, having them parsed in Cucable generated feature file and showing them in report as part of Scenario steps creates a lot of unnecessary text in scenario, thus making it less "human" readable.

Is it possible to have them parsed in generated Cucable feature files as Backgroun

[2020-06-24 10:56] laxersaz commented on #160
As Background is just syntactic sugar for repeating steps, I am struggling to see the value here. Normally, the Cucable generated scenarios are just there for running the tests and less for human readability. In which case do you need to look at the generated scenarios?

[2020-06-24 12:39] mpujic commented on #160
Hi, thanks for response.

I am using reports which are generated as a result of test execution as part of Living Specification Documentation those are then shared with non-technical stakeholders.

Basically they are not looking exactly in generated scenarios, however, based on generated scenarios, json result files are created and after that we use CI tools which create reports based on those json

[2020-06-24 13:22] Hanumanthap24 opened #161 "Not a directory"
Hi,

When I run my test in IntelliJ using CucableJavaTemplate provided in the example, I am getting the below error .Could you please advise?

java.lang.IllegalArgumentException: Not a file or directory: C:\Users\MyName\Downloads\Parallel\target\parallel\features\[CUCABLE:FEATURE].feature

Thanks,
Hanumantha

[2020-06-26 11:25] laxersaz commented on #161
This is a template, not a runner. Are you trying to run the template without running Cucable? Please give me some more details.

[2020-06-26 11:29] laxersaz commented on #160
Ah I see, that makes sense. I don't know exactly when a next Cucable release will be happening as I am focussing on Cluecumber a lot but I will keep this in the backlog for the next one.

[2020-06-26 13:06] Hanumanthap24 commented on #161
Did not understand what do you mean by running cucable.I have placed my feature files exactly at the location Project/target/parallel/features. and Clicked on Run .You have any YouTube video,that helps.

[2020-06-26 13:49] laxersaz commented on #161
Have you tried running the example project? Because this shows you exactly how it works.

Placing your feature files in target is NOT correct. This is something that Cucable does when you invoke it. Also clicking on `run` in your IDE will not do anything since Cucable is a Maven plugin that needs to be __run__ via Maven.

[2020-06-26 15:43] Naumansh commented on #160
I am also looking for the same. And also the background should become optional in cluecumber report like hooks. It will be kool feature n will make report look compact.

[2020-06-29 18:09] Hanumanthap24 commented on #161
Thanks for the help.I am now able to run my tests.

[2020-06-29 18:10] #161 closed

[2020-06-30 10:44] Hanumanthap24 opened #162 "Tests are running sequentially"
Hi,

I have couple of questions.
1.I am running my tests in using maven i.e mvn test -Dcucumber.options="--tags @US1"
.I can see 10 features and 10 TestRunner files getting generated.But my problem is that,my tests run sequentially,one after the other.Could you please let me know what all the factors control the parallel execution.My fork Count is 10.
2.When my test are run,
In the end will see a

[2020-07-02 09:07] laxersaz commented on #162
Have you tried running the Cucable example project? if you run with `mvn test` you are not running with Failsafe but with Surefire.
The error message also looks like your setup is wrong. Please create a small example so I can take a look.

[2020-07-02 10:27] Hanumanthap24 commented on #162
Could you please tell me how to run with failsafe?

[2020-07-02 13:35] Naumansh commented on #162
@Hanumanthap24 try with mvn verify

[2020-07-02 14:01] Hanumanthap24 commented on #162
@Naumansh :Thanks mate.Tests are now running in parallel.

[2020-07-02 14:01] #162 closed

[2020-07-02 15:09] Hanumanthap24 opened #163 "Cucable in Jenkins Pipeline"
Hi ,

I am able to execute my scripts parallely on my local machine.I created a groovy script and included following script in run step of my pipeline.
mvn verify -f pom.xml -Dgrid.run=true -Dbrowser="${Browser}" -Dgrid.hub.server="${EnvironmentToExecute}" -Dcucumber.options=". --tags ${ExecutingTag}'

I have couple of issues:
1.Scripts are not running in parallel when I execute through Jenkins.
2

[2020-07-06 07:09] ManjunathPrabhakar opened #164 "Feature/Runner Not generating if under folder hierarchy"
Hi , i have a requirement where my feature files are arranged in different folders depending on it functionality. PFB
![image](https://user-images.githubusercontent.com/10891658/86565175-fbd74980-bf84-11ea-9430-a0d19138a246.png)

In the image, i want to execute feature files under folder Associates. (Idea here is my *.Feature file can be under any folder/root inside Features Folder). Cucable is ex

[2020-07-06 07:13] ManjunathPrabhakar commented on #164
@laxersaz Please Advise

[2020-07-06 13:58] Hanumanthap24 commented on #163
Any update?

[2020-07-08 10:10] laxersaz commented on #163
I cannot help here as I don't know how your project is set up. Just showing a script invocation gives no hints. Please create an example project and attach it to this task.

[2020-07-08 10:13] laxersaz commented on #164
Sorry, I don't really understand the problem. On the one hand you said that it works fine under the root folder or subfolders but on the other hand you said that it doesn't work with a multi-folder hierarchy. Please either specify the exact repro steps or attach an example project.

[2020-07-10 06:41] ManjunathPrabhakar commented on #164
@laxersaz : Okay, considering the screenshot i have uploaded above.
i have specified my features directory in pom as `<sourceFeatures>src/test/Features</sourceFeatures>`
And in project structure my features are located under & within multiple folder. (refer the left side of screenshot).
And when i have to execute the project i get the error.

meanwhile if you need more clarity, I'll reproduce the

[2020-07-10 08:08] laxersaz commented on #164
You didn't have to close this issue.
Ah I understand what you meant now. I will check this behavior.
Could you try to run the project with Maven's `-X` switch to see the full output?

[2020-07-21 10:40] Hanumanthap24 opened #165 "Not running the tests"
Hi,

Cucable in my case is able to generate runners and features under the designated folder.But it does not run the tests.
I am using the mvn verify -Dcucumber.options to run my tests .What should be wrong here?tests were working fine earlier.
Also,when I go to these runners generated by cucable and right click and run,my test runs.What could be the issue here?

from Log,it says
Running scenario0

[2020-07-22 21:50] Hanumanthap24 opened #166 "Feature files in folder"
Hi
I have feature files in multiple folders such as
src/test/resources/features/Sprint-1
src/test/resources/features/Sprint-2
src/test/resources/features/Sprint-3
src/test/resources/features/Sprint-4

and in my pom xml

                   <sourceFeatures>src/test/resources/features/sprint-1</sourceFeatures>
                    <sourceFeatures>src/test/resources/features/sprint-2</sourceFeatures>

[2020-07-23 06:14] laxersaz commented on #166
Hello, why was this closed? Did you solve it?

[2020-07-23 09:36] #163 closed

[2020-07-23 21:52] Hanumanthap24 commented on #166
Nope.I thought it has but it isn't.Could you please help?Also ,the way I specified folder structure in pom.xml is correct?

[2020-07-24 07:51] laxersaz commented on #166
This is not the right way to specify multiple folders. It is all described here: https://github.com/trivago/cucable-plugin#sourcefeatures

You can either specify the root folder of them all like so
`<sourceFeatures>src/test/resources/features</sourceFeatures>`

or a comma separated list of directories llike this:
`<sourceFeatures>src/test/resources/features/sprint-1, src/test/resources/features/sp

[2020-07-28 11:49] Hanumanthap24 commented on #166
Got error message as
    src/test/resources/features/sprint-16,
                        src/test/resources/features/sprint-17,
                        src/test/resources/features/sprint-18,
                        src/test/resources/features/sprint-19,
                        src/test/resources/features/sprint-20,
                        src/test/resources/features/sprint-21,

[2020-07-29 10:12] Hanumanthap24 opened #167 "parallelizationMode tag error"
Hi,
I have a problem that,when I use parallelizationMode tag as shown below,the xml throws some error saying the tag is not allowed here.Is there something wrong below?

[xml2.txt](https://github.com/trivago/cucable-plugin/files/4994242/xml2.txt)

[2020-07-30 13:24] Hanumanthap24 commented on #165
Resolved.Hence closing

[2020-07-30 13:24] #165 closed

[2020-07-30 13:31] Hanumanthap24 commented on #166
Any update?

[2020-07-31 18:01] laxersaz commented on #166
I am currently on vacation so please don't expect an answer before next week. Thanks.

[2020-07-31 18:02] laxersaz commented on #166
Please note that the current Cucable version is 1.7.2, not 1.1.0 that you use.

[2020-08-09 11:03] laxersaz commented on #166
Have you tried it with the current version?

[2020-08-09 11:04] laxersaz commented on #167
Are you using the newest Cucable version?

[2020-08-12 22:57] Hanumanthap24 opened #168 "Cucumber Tags and and Or"
Hi ,

I have a scenario like this.

My Feature file:
@US1
Feature:My feature

Scenario outline:Tc1
Given
When
Then

@Env
Examples:

@Env2
Examples:

@Env3:
Examples

And When i run my test cases like

mvn verify -Dtags="@US1 and @Env"

This will run all the test cases under the folder in which my feature file resides and not this feature file alone.
Could you tell me if this is not the correct way

[2020-08-14 06:18] laxersaz commented on #168
Hello, "tags" is not a Cucable option.
It is all described in the documentation:
https://github.com/trivago/cucable-plugin#includescenariotags

[2020-08-14 12:04] Hanumanthap24 commented on #168
[Xml.txt](https://github.com/trivago/cucable-plugin/files/5074440/Xml.txt)

Please find my xml attached.

I have included my tags in XML..When i run my test cases
mvn clean verify -U -s settings.xml DrunParallelTests="true"

,in the logs it says.

[INFO] Cucable created 0 separate feature files and 0 runners.

If I run with only one tag like @US1,my test runs  all the test cases in the feature fil

[2020-08-14 15:51] laxersaz commented on #168
ˋ (@US1 and @env) and not @Env2ˋ says: run scenarios that have both us1 and env tags and not env2. Do you have scenarios that match this?

[2020-08-14 16:09] Hanumanthap24 commented on #168
Yes.As you see my in the first question I asked,My feature file tag name is @us1,and parameters are @env and @env2..
I am interested in executing all test cases in feature file with @env parameters(Examples).

[2020-08-14 17:05] laxersaz commented on #168
Hi again, alright, I will investigate this. Maybe you found a bug there :-)

[2020-08-14 17:24] laxersaz commented on #168
Yes it seems you did find a bug. I will try to fix it for the next release.

[2020-08-15 14:08] #168 closed

[2020-08-15 14:16] laxersaz commented on #164
I could not reproduce this behavior at all. Please attach a sample project to reproduce it.

[2020-08-15 14:18] #164 closed

[2020-08-15 14:20] laxersaz commented on #167
No reaction.

[2020-08-15 14:20] #167 closed

[2020-08-15 14:38] laxersaz commented on #158
Decided against this as it is an edge case. Parallelization mode "features" was just a simple solution to support the parallelization of complete features (which Cucumber can also handle on its own.

[2020-08-15 14:38] #158 closed

[2020-08-15 14:51] #156 closed

[2020-08-24 06:49] laxersaz commented on #164
You too 😃

[2020-08-28 13:31] Hanumanthap24 commented on #168
When can we have this feature?Just need approx date.

[2020-08-28 14:22] laxersaz commented on #168
I merged and released this 2 weeks ago (see above).

[2020-09-10 14:04] mkondapur opened #171 "Issue in Cucable 1.8.0"
Here i am trying to update to Cucuble version to 1.8.0 where i am getting unexpected error and causing report generation
however all the created scenarios Json files are appearing empty.

Tried with Cucuble report :2.3.4 and 2.5.0,occurred same issue.

Error:
**java.lang.NoClassDefFoundError: gherkin/deps/net/iharder/Base64
Caused by: java.lang.ClassNotFoundException: gherkin.deps.net.iharder.Base

[2020-09-11 11:17] mkondapur commented on #171
Where is this message coming from? : We have implemented  parallel automation testing using Cucable earlier which was working fine , now we would like to update 1.8.0 version to achieve multiple tags  -DTag = "@PRE and @sampleTest" .

Some of the test case execution are getting terminated in between and few of them are executes fine but all the json files are coming blank and end up our test execu

[2020-09-11 11:32] laxersaz commented on #171
Could be a transitive dependency issues since your Cucumber version is rather old and probably includes a much older Gherkin version than Cucable. Is it possible for you to upgrade to a newer Cucumber version?
If that does not help, if possible, please create a minimal project (also without Cluecumber as this is not the issue here) to isolate the problem. Your pom file just includes too many depen

[2020-09-11 11:35] laxersaz commented on #171
Also it might be a clash with `extentreports-cucumber4-adapter` which should not be necessary if you use Cucable and Cluecumber.

[2020-09-23 07:00] laxersaz commented on #171
Did you try the suggestions, @mkondapur ?

[2020-09-29 11:31] laxersaz commented on #171
Closed due to no reaction.

[2020-09-29 11:31] #171 closed

[2020-10-27 17:35] john-caleb-phillips opened #172 "Cucumber 6"
Are there any plans to update Cucable to allow it to run on the latest version of Cucumber?  Or, would you be open to a PR that does that update?  Since Cucumber 5+ can run in parallel natively (and since there are breaking changes in Cucumber 6 that would probably require a bump to version 2.0.0 for Cucable), I understand if you prefer to just leave the project at Cucumber 5.  Still, I thought it

[2020-10-27 17:44] john-caleb-phillips commented on #172
Just to clarify, after double checking the code, what actually needs to happen is that tag.expressions.version has to be updated to 3.0.0 to work with Cucumber 6+.

[2020-10-27 17:54] laxersaz commented on #172
We are using Cucumber 6.8.0 with the current Cucable version so it does support it. Are there any specific features that don't work?

[2020-10-27 18:04] john-caleb-phillips commented on #172
That's weird.  I'm getting errors like "java.lang.IncompatibleClassChangeError: Expected static method 'io.cucumber.tagexpressions.Expression io.cucumber.tagexpressions.TagExpressionParser.parse(java.lang.String)".  Must be something messed up in my configuration then.  I'll dig into it.

[2020-10-27 18:15] laxersaz commented on #172
If you find something that is related to Cucable, please let me know.

[2020-10-27 19:59] john-caleb-phillips commented on #172
My apologies.  It appears that I had a couple dependencies that were conflicting, and that was the root cause.  I was able to get it working, and will close this issue.

[2020-10-27 19:59] #172 closed

[2020-11-25 15:22] Danphillipz opened #173 "Parse feature error"
Hi there, when running a maven build I am seeing the below error for 'could not parse feature'.
However, the project has hundreds of features and the error messages produced by cucable do not indicate exactly which feature file is causing the issue, so trying to identify the feature with the issue is proving very difficult

[INFO] -------------------------------------------------------------------

[2020-11-25 15:29] laxersaz commented on #173
Thanks for reporting this!

[2020-11-26 08:50] laxersaz commented on #173
Fix in progress...

[2020-11-26 08:57] Danphillipz commented on #173
@laxersaz That's great, thankyou very much

[2020-11-26 09:37] laxersaz commented on #166
Closed due to no reaction.

[2020-11-26 09:37] #166 closed

[2020-11-26 09:42] laxersaz commented on #160
In progress...

[2020-11-26 12:28] laxersaz commented on #173
Done in 1.9.0 - release will happen during the next 30 minutes.

[2020-11-26 12:28] #173 closed

[2020-11-26 12:28] laxersaz commented on #160
Done in 1.9.0 - release will happen during the next 30 minutes.

[2020-11-26 12:28] #160 closed

[2020-11-26 14:55] mpujic commented on #160
Thanks. It looks good now.

[2020-11-26 15:10] laxersaz commented on #160
Thanks for confirming 🙂

[2021-03-19 06:39] Thiyagarajan9977 opened #174 "I am new to TestNG Framework, When executed code using TestNg, the cases are successfully executed but observed the below error. Please review and suggest why I am getting below error"
[TestNG] Running:
  C:\Users\Admin\AppData\Local\Temp\testng-eclipse-589218627\testng-customsuite.xml

Before Class
Before Method
Test1
After Method
Before Method
Test2
After Method
Before Method
Test3
After Method
after Class
[Utils] Attempting to create C:\Users\Admin\eclipse-workspace\SeleniumClass\TestNG\test-output\Default suite\Default test.xml
[Utils]   Directory C:\Users\Admin\eclipse-work

[2021-03-19 08:00] laxersaz commented on #174
Hello, this is unrelated to Cucable. How you run the tests after they are split up using Cucable is out of scope here so I unfortunately cannot help with this.

[2021-03-19 08:00] #174 closed

[2021-03-19 10:26] Thiyagarajan9977 opened #175 "I am new to TestNG framework, I'm doing some programs, I installed the TestNG version 6.14.3 and now studying TestNG framework, while starting the executing the test case are running properly and executing, but I am getting error (java.util.ConcurrentModificationException)"
**Describe the bug**
I installed the TestNG version 6.14.3 and now studying TestNG framework, while starting the executing the test case are running properly and executing, but I am getting error (java.util.ConcurrentModificationException)

![03-19-2021](https://user-images.githubusercontent.com/77095923/111766508-a00edf80-88cb-11eb-8fe0-c9366ce88b4b.png)

**To Reproduce**
Steps to reproduce the b

[2021-03-19 11:16] laxersaz commented on #175
If your scenarios run in parallel and you try to report them at the same time this probably happens. But this is not a Cucable problem but a problem of your test framework which is out of scope here.

[2021-03-19 11:16] #175 closed

[2021-05-14 06:13] RPRAB02 commented on #172
Hello John ,
Can you please let me know as tho what was the exact dependency or steps you followed to remove the above issue .I am also getting the same.

[2021-05-17 12:32] john-caleb-phillips commented on #172
Good Morning,

Unfortunately, I'm don't thing I'm going to be able to be much help with this.  I've since moved onto another project, and can't remember the exact fix that I used.  If I remember correctly, the issue in my case had something to do with a circular dependency in my pom.  So while I was updating the version in the parent pom, it didn't propagate correctly around the dependency loop.

[2022-02-04 09:16] rsshekhawat opened #176 "Let users specify tags when parallelizationMode='features'"
**Is your feature request related to a problem? Please describe.**
I am not able to specify tags when parallelizationMode='features'. I am getting error message ', you cannot specify includeScenarioTags' when I try to do so. Please let users specify tags when parallelizationMode='features' also.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**De

[2022-02-04 12:09] #176 closed

[2022-02-04 12:11] rsshekhawat opened #177 "Stripping package from cucable template causes issues in JAVA 9+"
**Describe the bug**
Stripping package from cucable template causes issues in JAVA 9+

**To Reproduce**
Steps to reproduce the behavior:
1. Run this plugin with runners directory set in target/parallel/runners with JAVA 9+
2. Run Cucable
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Attachments**
If applicable, add an attachment to help expl

[2022-03-09 16:57] bischoffdev commented on #177
Hello, could you provide some more info and the exact error message please?

[2022-03-09 17:01] bischoffdev commented on #176
This is expected behavior which is stated in the documentation ([see here](https://github.com/trivago/cucable-plugin#parallelizationmode)):
`Note: For this mode to work, <sourceFeatures> must specify a directory. Also, includeScenarioTags cannot be used.`

[2022-04-07 03:19] onlyforcoding24 opened #178 "Generate report even if maven build gets failed"
**Is your feature request related to a problem? Please describe.**
I am running my test cases in jenkins pipeline. currently, build is success even if test cases are failed because we have set the `<testFailureIgnore>true</testFailureIgnore>` in failsafe plugin. But my build should be failed if there are test failures.
if I set `<testFailureIgnore>false</testFailureIgnore>` then built is getting f

[2022-04-08 11:11] bischoffdev commented on #178
This is Maven's expected behavior. Failing the build is out of scope for Cucable as it just generates features and runners and has no knowledge about the actual test results. Also, it is not responsible for creating test reports.

[2022-04-08 11:11] #178 closed

[2022-04-27 14:22] bischoffdev commented on #177
Closed due to no reaction.